[2014-07-24 08:06] clowwindy opened #1 "also filter empty responses"
https://github.com/clowwindy/ChinaDNS/issues/16

[2014-07-24 08:07] clowwindy opened #2 "read arguments"

[2014-07-24 08:41] #2 closed, assigned to clowwindy

[2014-07-24 08:58] clowwindy opened #3 "support listening at IPv6 addr"

[2014-07-24 11:16] clowwindy opened #4 "don't print logs by default"
on openwrt it is slow

add -v

[2014-07-24 17:46] clowwindy opened #5 "read location of iplist.txt from arguments"

[2014-07-25 01:48] #5 closed, assigned to clowwindy

[2014-07-25 01:49] #1 closed, assigned to clowwindy

[2014-07-25 02:18] #4 closed, assigned to nobody

[2014-07-27 05:41] rampageX opened #7 "Tomato （uClibc）下编译出错"
出错信息：

cc -Wall -O3 src/chinadns.c -lresolv -o chinadns
src/chinadns.c: In function 'parse_ip_list':
src/chinadns.c:281:3: warning: implicit declaration of function 'getline' [-Wimplicit-function-declaration]
/jffs/tmp/ccB9D6xr.o: In function `hostname_from_question':
chinadns.c:(.text+0x48): undefined reference to`__ns_parserr'
/jffs/tmp/ccB9D6xr.o: In function `should_filter_query':
chinadns.c:(

[2014-07-28 15:59] rampageX opened #8 "上游服务器可否支持非标准端口？"
如题。

[2014-07-28 23:39] #7 closed, assigned to nobody

[2014-07-29 08:41] #8 closed, assigned to nobody

[2014-07-30 04:40] 6api opened #9 "where is init.d script?"
where is init.d script?

[2014-08-01 07:35] #9 closed, assigned to nobody

[2014-08-02 07:14] cpktpoetkxwz opened #10 "Bad IPs"
65.49.2.178, 69.55.52.253, 141.0.173.53, 159.24.3.173, 198.105.254.11, 203.73.211.69, 243.185.187.30

下面的好像是ytgate的
189.163.17.5 197.4.4.12 54.76.135.1 118.5.49.6 253.157.14.165 188.5.4.96 49.2.123.56 77.4.7.92

[2014-08-02 13:24] everyx opened #11 "过多解析请求时会自动退出"
你好，我在 MW4530R 上使用了你的作品，最近在尝试将 gfwlist 解析成 ip，我开启了 70 个 goroutine 来同时进行域名解析时会导致 chinadns 退出，而在开启 10 个时是正常的，查看了 `/tmp/log/` 下的两个日志文件，无任何日志记录，是不是 chinadns 对于这个数量以上并发的解析请求会处理不过来？

解析程序见 https://github.com/everyx/gfw-iptable ，使用 Go 编写。

[2014-08-02 13:45] #11 closed, assigned to nobody

[2014-08-05 14:14] cj1324 opened #12 "打算支持ipset吗？ 参考dnsmasq ipset特性。"
如题。

[2014-08-06 14:29] clowwindy opened #13 "set up a build bot for every architecture"

[2014-08-06 14:39] clowwindy opened #14 "accept specific IP from specific route"
Example usage:

Route table:
- China: direct
- Foreign: via VPN/ss-redir
- 8.8.8.8:  via VPN/ss-redir

China DNS rule:
1. Drop bad IP
2. Accept an response with IP in foreign IP range arrives from 8.8.8.8, else drop
3. Accept an response with IP in China IP range arrives from 114.114.114.114, else drop

Thus we both resolve China IP locally, and resolve foreign IP on VPN/ss server locally. (e.g. g

[2014-08-07 15:09] #14 closed, assigned to clowwindy

[2014-08-10 16:29] living42 opened #15 "返回的结果都是来自国外dns服务器"
我的启动方式是这样的, 第二个服务器是我在美国的VPS上自建的DNS

`$ ./src/chinadns -l iplist.txt -c chnroute.txt -p 5354 -s 114.114.114.114,23.29.xx.xx -v`

然后查询

[code]

日志如下:

[code]

其中114dns返回的地址物理位置如下:

[code]

[2014-08-10 17:35] #15 closed, assigned to clowwindy

[2014-08-10 17:49] clowwindy opened #16 "add unit test"
how can we simulate the network in china on travis ci?

[2014-08-11 01:39] consatan opened #17 "在 entware 编译环境下编译失败"
我的路由器ASUS RT-N16刷的是AsusWRT Merlin固件，里面配套使用的是Entware，安装percompile里的 ChinaDNS-C_1.1.2_brcm47xx.ipk提示
- pkg_hash_fetch_best_installation_candidate: Packages for ChinaDNS-C found, but incompatible with the architectures configured
  尝试在entware环境下编译则出现下面的错误提示
  P.S. 在这个编译环境下无法使用make menuconfig的编译方法，会在编译目标环境的时候出错。编译别的软件也都是直接 make package/xxx/compile
  chopin@vpn:~/Entware/openwrt_trunk$ make package/fee

[2014-08-12 10:35] clowwindy opened #19 "make chnroute an option"
Someone does not need this feature.

[2014-08-18 06:41] clowwindy opened #21 "output logs in stderr"

[2014-08-20 06:12] #19 closed, assigned to nobody

[2014-08-20 06:12] #21 closed, assigned to nobody

[2014-08-20 13:12] #12 closed, assigned to nobody

[2014-08-27 05:32] muziling opened #24 "facebook还会解析到污染IP 37.61.54.158"
启动时DNS指定 218.85.157.99,208.67.222.222,8.8.8.8，会导致facebook解析到污染IP 37.61.54.158

我是福建电信的网络，ISP默认DNS是218.85.157.99，这个DNS延时只有几毫秒，所以我希望能用这个来解析不受污染的

[2014-08-27 06:30] boytm opened #25 "openwrt restart service cannot work"
when restart service， always show

[code]

The service name is "/etc/init.d/chinadns", "killall chinadns" can kill the service itself also.
So,
1) change the service name
or
2)  pkill -f /usr/bin/chinadns

[2014-08-27 15:03] #25 closed, assigned to nobody

[2014-09-01 09:23] p0we7 opened #28 "iplist.txt ： No such file or directory"
make[5]: Nothing to be done for `install-data-am'.
make[5]: Leaving directory`/home/wrt/gargoyle/custom-src/build_dir/target-mips_r2_uClibc-0.9.33.2/ChinaDNS-C-/chinadns-c-1.1.4/src'
make[4]: Leaving directory `/home/wrt/gargoyle/custom-src/build_dir/target-mips_r2_uClibc-0.9.33.2/ChinaDNS-C-/chinadns-c-1.1.4/src'
make[4]: Entering directory`/home/wrt/gargoyle/custom-src/build_dir/target-mips_r2_u

[2014-09-01 10:56] #17 closed, assigned to nobody

[2014-09-01 10:57] #24 closed, assigned to nobody

[2014-09-01 10:57] #13 closed, assigned to nobody

[2014-09-02 05:34] #28 closed, assigned to nobody

[2014-09-06 05:28] leenchan opened #29 "Segmentation fault"
Segmentation fault
环境：OpenWrt Chaos Calmer r42397 / LuCI Trunk (svn-r10521)
硬件：TP-843N 16M/64M
需要提供什么资料吗？

[2014-09-08 12:31] #29 closed, assigned to nobody

[2014-09-14 11:38] nicolas-yangli opened #30 "OpenWRT package Dependency"
Init script 里使用了 iptables -j REDIRECT. 这个功能由 iptables-mod-nat-extra 提供。

[2014-09-24 09:16] vvtommy opened #31 "No Response"
`dig @192.168.199.192 +time=1800  twitter.com` 并且 chinadns -v 启动，发现抢答内容被filter了，但是真正的返回却不见了。

所以现象就是长时间没有返回任何内容…

[2014-09-24 09:20] #31 closed, assigned to nobody

[2014-09-25 15:07] clowwindy opened #32 "Create a new UDP socket once in a while"
1. Changing source port makes us behave more like a normal client
2. Upstream NAT or ss-tunnel may have some bugs that may block communication between two UDP endpoints for a long time

[2014-09-26 16:29] clowwindy opened #33 "Support DNSSEC"
Check DNSSEC support during configure time.

https://www.sourceware.org/ml/glibc-cvs/2009-q3/msg00079.html

[2014-10-02 07:38] #10 closed, assigned to nobody

[2014-10-05 15:46] evianzhow opened #35 "Can't compile on tomato if following README.md"
If I follow steps in README on how to install ChinaDNS-C on tomato, I will get an error like this:
`undefined reference to 'rpl_malloc'`
According to many articles, it may be a problem relating to ldconfig. I tried add brcm libs path to /etc/ld.so.conf.d but not working.
The only way to make 'make' work is to change .configure command to this:
`ac_cv_func_malloc_0_nonnull=yes ac_cv_func_realloc_0_

[2014-10-06 15:59] #35 closed, assigned to nobody

[2014-10-27 03:40] hieixu opened #36 "Improve Domestic Domain's Latency"
目前chinadns 解析域名的至少 1秒以上，建议加速国内域名的解析速度。即对于返回国内的IP的域名解析，立刻返回结果。

[2014-10-27 05:36] #36 closed, assigned to nobody

[2014-11-04 01:34] aiobox opened #37 "freebsd configure: error: libresolv not found."
在freebsd 8.2版本下./configure时提示以下错误：
configure: error: libresolv not found.
Google搜索了也没找到怎么在freebsd下安装libresolv相关包。

[2014-11-19 10:34] clowwindy opened #38 "-d should only be used with -c"
Add a check

[2014-12-01 08:06] #37 closed, assigned to nobody

[2014-12-12 11:33] clowwindy opened #39 "Make DNS check a warning instead of an error"
You should have at least one Chinese DNS and one foreign DNS when chnroutes is enabled

[2014-12-14 11:00] #38 closed, assigned to nobody

[2014-12-14 11:01] #32 closed, assigned to clowwindy

[2014-12-14 11:02] #16 closed, assigned to nobody

[2014-12-14 11:02] #3 closed, assigned to clowwindy

[2014-12-15 07:36] clowwindy opened #40 "Android support"
- android build script
- build as static library support
- android logging support

low priority

[2014-12-24 08:33] shiny opened #41 "chinadns.c:537 sendto: Destination address required"
我的启动选项是这样的

[code]

然后 `tail -f /var/log/chinadns.err.log` 不断提示 `chinadns.c:537 sendto: Destination address required`

使用的版本：

OpenWRT: ChinaDNS-C_1.1.8_ar71xx.ipk

[2014-12-24 08:34] #41 closed, assigned to nobody

[2014-12-26 14:17] #39 closed, assigned to nobody

[2014-12-29 10:51] clowwindy opened #42 "Please reply here if you've found new fake IPs"
Please provide
1. a list of IPs you've discovered
2. the method or command you used

    dig @8.8.8.8 domain.that.i.used
    ...
    domain.that.i.used.	233	IN	A	37.61.54.158

[2014-12-30 15:38] qqshfox opened #43 "Could you please provide a pre-compiled package for openwrt x86 platform?"
It would be very handy when people use openwrt in the vm or on the bare-metal.

Thanks,
Hanfei

[2014-12-31 19:29] #43 closed, assigned to nobody

[2015-01-01 00:06] XIAOSpider97 commented on #42
最好能把IPv6环境的1.1.1.1 10.10.10.10 20.20.20.20 255.255.255.255也加进去，还有去年一月那个事件的65.49.2.178。
作者可以试试这样：将数据包推迟，让系统认为GFW返回的污染包比包含真实IP的包后到。

[2015-01-01 03:02] clowwindy commented on #42
@XIAOSpider97 昨天已经更新了

[2015-01-01 04:25] XIAOSpider97 commented on #42
又找到三个。。。
107.20.186.211
88.198.69.101
216.87.172.206
我是Windows，不知道怎么dig…

[2015-01-01 04:43] aa65535 commented on #42
目前来说，使用 iplist 没意义了，而且返回的结果里也有正常网站的。
我昨天用 cron 跑了一夜（一小时获取一次），去重后的结果是 1290 个 ……

[2015-01-01 05:44] XIAOSpider97 commented on #42
所以说...我目前的解决方案是直接转发非标端口DNS以“完全规避”污染。

[2015-01-01 06:04] clowwindy commented on #42
@XIAOSpider97 @aa65535
1.2.0 已经不需要 iplist 了

[2015-01-01 06:04] #42 closed

[2015-01-01 06:12] aa65535 commented on #42
@clowwindy 目前还是必须使用 `-l` 指定 iplist, 否则会报错。

[2015-01-01 06:26] clowwindy opened #44 "Make iplist optional"

[2015-01-01 06:27] clowwindy commented on #42
@aa65535  Created #44

[2015-01-01 07:54] msxcms commented on #42
发现www.qq.com会被解析到香港IP上（配置的境外DNS用的是日本的），暂时还没发现其他国内域名会出这个问题

;; ANSWER SECTION:
www.qq.com.             270     IN      A       202.55.10.190
www.qq.com.             270     IN      A       202.55.10.189

;; Query time: 72 msec
;; SERVER: 192.168.1.1#5353(192.168.1.1)

[2015-01-01 07:56] msxcms opened #45 "qq域名会被返回到国外IP上"
发现www.qq.com会被解析到香港IP上（配置的境外DNS用的是日本的），暂时还没发现其他国内域名会出这个问题

;; ANSWER SECTION:
www.qq.com.             270     IN      A       202.55.10.190
www.qq.com.             270     IN      A       202.55.10.189

;; Query time: 72 msec
;; SERVER: 192.168.1.1#5353(192.168.1.1)

国内DNS返回的是正常的

;; ANSWER SECTION:
www.qq.com.             291     IN      A       61.135.157.156

;; Query time: 13 msec
;; SERVER: 1

[2015-01-01 08:21] clowwindy commented on #45
新的策略下可能会有一部分国内域名误判到国外，过段时间再想办法。CPU 的问题找到原因了，过会儿修复。

[2015-01-01 08:58] clowwindy commented on #45
1.2.1 以修复 CPU 问题。

[2015-01-01 08:58] #45 closed

[2015-01-01 12:43] Zzway opened #46 "CentOS下make不通过"
[code]

[2015-01-01 14:51] yuhaaitao commented on #42
youtub能打开，看不了视频，这个怎么弄呀

[2015-01-02 14:20] hgl commented on #44
比较好奇，没有了iplist，如何判断返回的结果是否被污染？

最近好多域名返回的污染ip是不重复的，我以为没有办法检测是否被污染了。

[2015-01-02 17:30] clowwindy commented on #46
Can not reproduce on CentOS 6.5.

[2015-01-04 09:26] lsylsy2 opened #47 "使用配置文件或者uci"
RT，目前的设置（和是否使用iptables）都是在init.d中设置，修改是否复杂暂且不论，在升级时文件会被覆盖是一个问题。
个人例子：
1、需要注释掉iptables以使用dnsmasq（dnsmasq也是一个推荐选项），然后这个修改需要先stop（以在iptables中删除redirect）、再修改、再start；
2、114dns在我的ISP表现效果不佳，结合chinadns的新策略，导致最终效果相当于等待（0.3秒）后一定返回国外DNS结果；同样，这项的修改我需要每次更新都进行处理。

另外，监听5353然后用iptables转发并不符合软件的正常逻辑，结果就是原53端口的DNS服务器正常运行但是被“掐断”；更加自然的逻辑是在“监听5353，更改现有程序如dnsmasq的上游”和“监听53，让用户关掉现有的dns服务”中二选一。

[2015-01-04 09:34] clowwindy commented on #47
推荐用 @aa65535 维护的包，直接在 luci 里配置，非常方便。

https://github.com/aa65535/openwrt-dist-luci

[2015-01-05 10:07] #47 closed

[2015-01-05 10:07] #46 closed

[2015-01-05 10:09] clowwindy commented on #44
If an experienced human can tell the difference, so does a program.

[2015-01-05 12:58] hgl commented on #44
看了一下源代码，好像原理是直接丢弃国内DNS返回的国外IP，然后等待国外DNS的返回结果。国外DNS返回IP时如果只有一条结果，延时等待下一个返回。

顺便提交一个bug，好像如果国内DNS返回国内IP，只有一条结果，也会被延时。

目前来看是很棒的的方法，但是什么时候系统升级，污染的IP里开始出现多条结果，这个方法就失效了。（短时间内应该不会失效，不过既然系统能从返回固定IP升级到返回不固定IP，再次升级应该也不是太麻烦的事。）

受到你的启发，我觉得如果系统真的开始这样做，我们可以设置路由表，让国外DNS的查询走VPN。这样不论系统怎么改结果都不会被污染了。

[2015-01-05 13:16] clowwindy commented on #44
Don't teach them.

[2015-01-05 13:16] #44 closed

[2015-01-06 11:15] clowwindy opened #48 "edns-client-subnet implementation"
1. Only query DNS over VPN
2. Use edns-client-subnet to resolve domestic domains
3. Query directly for foreign domains

[2015-01-06 14:44] jedisct1 commented on #48
What? edns-client-subnet is terrible from a privacy standpoint.

[2015-01-06 15:29] clowwindy commented on #48
The normal routing table configuration is like:

    Home
      |---> direct <-----------> China IP range
      |---> VPN -> US server <-> Foreign IP range

If we rely only on DNS over VPN, if we try to query a domestic website like taobao.com over VPN, we'll probably get a CDN IP located in the US. That's slow. So here edns-client-subnet looks like our only option.

We don't really care much abou

[2015-01-07 19:34] clowwindy commented on #48
I believe Google DNS will be blocked completely in a few months. I'm just getting prepared for that.

[2015-01-08 03:45] hgl commented on #48
Really? Where do you get that information? Can't wait for it to happen, making more people to realize we have a system that dwarfs NSA.

I personally think ChinaDNS shouldn't be dealing with VPN. All it should do is to provide an option to the user asking her if she wants to treat records returned from a foreign DNS as potentially being fake. She is expected to set up the VPN and do the routing he

[2015-01-11 15:25] gino2010 opened #49 "Running is not stable in OS X"
I just run this tool in OS X
I found it is not stable. Detail:
When I ran it at first time, I can visit google and youtube smoothly.
But after a few minutes, I restarted it, I can't visit google and youtube any more. It didn't seem to work.
I ran it in verbose logging mode, but when I request www.google.com site in chrome, nothing is outputted
When I nslookup www.google.com, it will output some re

[2015-01-12 03:14] shangjiyu commented on #48
https://github.com/Pentiumluyu/ChinaDNS this fork version uses [DNS compression pointer mutation] (https://gist.github.com/klzgrad/f124065c0616022b65e5) instead of delay option which may accelerate dns resolve in some special?

[2015-01-12 05:12] clowwindy commented on #49
I guess it's the DNS cache of the OS or something but I'm not sure. I only use ChinaDNS on OpenWRT.

Please note using this tool solely won't help you load Google. You need proxy or VPN.

[2015-01-12 07:59] clowwindy commented on #48
@shangjiyu I think he could make this feature optional and send a pull request.

[2015-01-13 01:44] king6731253 opened #50 "The proxy network is too slow after updating chinaroute"
I had deployed the OpenWRT on my router with ss+chinadns successfully.
Then I tried to set auto update of Chinaroute on it with CL like these:
#rm -f /etc/chinadns_chnroute.txt
#ln -s /etc/shadowsocks/ignore.list /etc/chinadns_chnroute.txt
#curl 'http://ftp.apnic.net/apnic/stats/apnic/delegated-apnic-latest' | grep ipv4 | grep CN | awk -F\| '{ printf("%s/%d\n", $4, 32-log($5)/log(2)) }' > /etc/sha

[2015-01-13 05:13] clowwindy commented on #50
We only solve problems with ChinaDNS itself, please prove it's a problem of ChinaDNS itself, rather than your configuration. It's not fun to help everybody debug his own configuration. If you are unable to debug your network problem yourself, stick with standard configuration: https://sourceforge.net/p/openwrt-dist/wiki/DNS/

[2015-01-13 05:13] #50 closed

[2015-01-13 06:55] gino2010 commented on #49
I see. Thanks

[2015-01-13 06:55] #49 closed

[2015-01-15 15:02] cokebar opened #51 "Weird Problem when resolving specific domain"
域名是www.chinagfw.org
分别dig 国内和自建国外dns正常，dig openwrt上的chinadns的端口结果就是超时

为啥啊？

[2015-01-15 15:14] cokebar commented on #51
抱歉 是自己测试不足 应该是自己的chnroute有问题了

[2015-01-15 15:41] cokebar commented on #51
经排查是因为我chnroute.txt的原因 我更改过chnroute可能是搞出毛病了 重新更新最新chnroute并重新修改后正常了

[2015-01-15 18:53] #51 closed

[2015-01-16 19:17] wingerted commented on #48
I'm working on this at https://github.com/wingerted/ChinaDNS-C
And I think I have get the right result for some test now...

[2015-01-17 03:50] clowwindy commented on #48
@wingerted
Great work! Do you have any problem when loading common China video sites (youku, tudou)]?

[2015-01-17 16:53] wingerted commented on #48
I haven't deploy it on my router yet, since there is something strange.
First I use edns-client-subnet on my host computer and query "www.taobao.com" via 8.8.8.8 with my VPS's(at American) IP. Well , that's good. It return ip from American.
But when I use it on my VPS, and query "www.taobao.com" via 8.8.8.8 with my host computer's ip, it only return ip from American not from China.
I use Dig tool

[2015-01-18 12:01] clowwindy commented on #48
@wingerted Seems that the NS server of neither youku nor taobao support edns-client-subnet. We may have to wait.

[2015-01-18 12:49] wingerted commented on #48
@clowwindy Maybe I could merge this feature to ChinaDns first ?

[2015-01-18 13:28] clowwindy commented on #48
@wingerted
We also need to do more than simply adding edns-client-subnet pseudo section. We may want to send two queries: one with +client=china_ip and another with +client=vps_ip (or without +client). Then we may want to add a strategy to pick one of the results.

Since we are not able to test the strategy at the moment, we'd better continue the work in the future.

[2015-01-18 14:00] wingerted commented on #48
@clowwindy OK, I will keep on it~
By the way, it's the first step for me to join open source community. It's a pleasure discussing with you, Thanks ~。~

[2015-01-19 08:24] clowwindy commented on #48
@wingerted Nice. Hope you'll enjoy it :)

[2015-01-21 03:17] myliyifei opened #53 "weibo.com 返回的IP是国外的（HK）"
配置如下，国外的DNS由日本的VPS进行了UDP中转。我到VPS的ping值大约70ms
开启了双向解析
延迟部分测试了200 300 400MS,都没有用。

# cat /etc/config/chinadns

config chinadns
        option enable '1'
        option bidirectional '1'
        option iplist '/etc/chinadns_iplist.txt'
        option chnroute '/etc/chinadns_chnroute.txt'
        option port '5301'
        option server '114.114.114.114,127.0.0.1:5353'
        option result_delay '0.4

[2015-01-25 06:13] riveryan opened #54 "Mac Homebrew Package"
Sun Jan 25 14:04:54 2015 chinadns.c:368 fopen: No such file or directory
Sun Jan 25 14:04:54 2015 Can't open ip list: iplist.txt

[2015-01-25 06:55] riveryan commented on #54
I found it.

[2015-01-25 06:55] #54 closed

[2015-01-25 08:49] shiny opened #55 "ChinaDNS 应该有个打印版本号的功能"
目前无论是 `chinadns -h` 还是 `chinadns -v` 都看不到当前使用的版本号。 或者能不能像 python 这样，
`python -v` 是 verbose，`python -V` 是 print the Python version number

打印版本号可以帮助确定当前版本是否低于最新版。

[2015-01-25 10:39] clowwindy commented on #55
运行时会打印版本号

[2015-01-25 10:39] #55 closed

[2015-01-25 10:41] shiny commented on #55
但是很不方便，用  `/etc/init.d/chinadns start` 没有打印内容， `/var/log/chinadns.log` 也是空的。

[2015-01-25 11:33] clowwindy commented on #55
chinadns -p 12345

[2015-01-26 09:12] gmsj0001 opened #56 "希望尽早补完queue独立ID的逻辑"
第一次试用这个软件，nslookup各种超时，换了好几个版本，还以为是重大bug，后来读了代码才发现queue那里的todo。
个人感觉独立id并不麻烦，应该可以直接用queue数组的下标作为远程查询的id，查找也不用再去循环一次了。

[2015-01-26 15:21] clowwindy commented on #56
建议你先确定超时是这个原因导致的，因为我从来没有遇到类似的现象。

[2015-01-26 20:41] gmsj0001 commented on #56
windows系统会使用随机请求id，所以不影响正常使用。但nslookup命令每次均使用1、2、3这样的固定id，在当前的queue_lookup逻辑下只有第一次是正确的，第二次以后就会超时失败（解析结果被发送到第一次查询用过的端口）。
windows下使用nslookup命令可重现此故障。

[2015-01-27 04:09] hgl opened #57 "Reload chnroute file on SIGHUP?"
So there is no need to restart chinadns if the chnroute file is updated.

[2015-01-27 04:40] hgl commented on #57
Also would be great if chinadns could generate a pid file, so finding the process to send the signal would be easier.

[2015-01-27 04:41] clowwindy commented on #57
/etc/init.d/chinadns restart

[2015-01-27 04:41] #57 closed

[2015-01-27 05:10] hgl commented on #57
This could interrupt pending queries.

[2015-01-27 05:11] hgl commented on #57
Wait a sec, i'm not using openwrt, maybe you did something special on that restart script? let me check the ipk file.

[2015-01-27 05:14] hgl commented on #57
Oh, it's in the source code, and nope, it just stop & start chinadns. Would you be interested in merging if I take a stab at this feature?

[2015-01-27 05:44] clowwindy commented on #57
Thanks. But no, since we don't update chnroute file that often. In practice, the only time that I want to restart chinadns is when I want to deploy a new binary.

[2015-01-27 06:18] hgl commented on #57
APNIC's IP allocation changes pretty frequently actually. For example, Chinese IP range `103.48.144.0/22` is added on 2015-01-22, and is not included in chinadns' current chnroute file.

This feature could benefit users who manage the chnroute file themselves. (I have a cron job running checking that list daily.)

[2015-01-27 06:28] hgl commented on #57
I wonder if some people's reporting about chinadns' returning foreign ips for domestic domains has something to do with the outdated chnroute file.

[2015-01-27 06:37] hgl commented on #53
直接本地查询114返回的ip是什么？在chnroute.txt列举的ip范围内吗？

[2015-01-27 08:03] clowwindy commented on #53
尝试更新到 1.3 然后启用压缩指针功能

[2015-01-27 08:19] clowwindy commented on #57
No, if the chnroutes list is incomplete, but if all your DNS servers are correctly located by the incomplete chnroutes list, we'll only have domestic IPs returned from foreign DNS unfiltered for domestic domains, which is not a big problem.

The cases to have some domestic domains resolved into foreign IPs are caused by current naive delay algorithm. By turning on `-m`, the delay will be replaced

[2015-01-27 09:16] hgl commented on #57
If the domain's name server doesn't respect `edns-client-subnet`, foreign ips are likely to be returned for requesting with a foreign dns.

In the case of weibo.com, they don't support ECS (I confirm it with a patched dig). So outdated chnroute file is likely the cause.

By naive delay algorithm, do you mean that it's possible for a foreign DNS to return the records quicker (even with the delay) t

[2015-01-27 09:46] clowwindy commented on #57
As far as I know, at the moment, none of the popular websites support edns-client-subnet, including Google. So we haven't implemented edns-client-subnet in ChinaDNS yet.

The compression itself has nothing to do with the problem. In `-m` mode we simply turn off the delay, because the delay is no longer needed.

And for chnroutes, I guess you are not going to update chnroutes every hour, right? You

[2015-01-27 09:53] jedisct1 commented on #57
They do, but only when the query comes from specific IP addresses.

Web sites and CDNs that want to receive queries with edns-client-subnet have to ask Google and Open DNS. Google and Open DNS will then manually add them, and it's common for authoritative servers to ignore edns-client-subnet when queries are not coming from the resolvers run by these companies. Sometimes because they don't want to

[2015-01-27 10:10] hgl commented on #57
That looks like the case.

If I request 8.8.8.8 about weibo.com directly, I get domestic ips. If I request 8.8.8.8 about weibo.com via a vpn (with edns-client-subnet set), I get foreign ips.

So looks like 8.8.8.8 doesn't honor edns-client-subnet itself.

[2015-01-27 10:11] clowwindy commented on #57
@jedisct1

As for individuals, sounds that there's nothing we can do to utilize edns-client-subnet on our own servers.

Do Google and Open DNS offer a public list of the websites that have submitted for edns-client-subnet? I'm curious that how many popular websites from China have done that.

[2015-01-27 10:14] jedisct1 commented on #57
Only DNSPod (so all the websites using their DNS services I suppose) and Tencent as far as I know.

[2015-01-27 15:15] msxcms commented on #53
我这里使用压缩指针后没有问题了

[2015-01-27 15:31] myliyifei commented on #53
我关闭了双向解析好像也没有问题了。困惑点：1 是否还需要关闭双向解析 2 如果国外的DNS走VPS，还是否需要开启压缩指针

2015-01-27 16:03 GMT+08:00 clowwindy <notifications@github.com>:

[2015-01-27 17:00] #53 closed

[2015-01-27 17:01] msxcms commented on #53
发现个问题，使用 -m 之后，解析国外域名的时候，dig的时候返回很快，但是ping却要很久（10秒以上），比如 www.hostloc.com。

[2015-01-27 17:02] myliyifei commented on #55
虽然这个功能是有的，但是跟大家用linux的习惯不太一样

[2015-01-30 05:47] sdysj opened #58 "指针压缩不兼容 getaddrinfo？"
开启后在 OpenWRT 上 ping 和 resolveip 都不能用。

[2015-01-30 06:32] myliyifei commented on #58
你是什么版本啊
2015年1月30日 下午1:47于 "sdysj" <notifications@github.com>写道：

[2015-01-30 09:04] qiukun opened #59 "wget hangs when using chinadns in ipv6 environment"
ipv6 environment was provided by tunnelbroker.net
[code]

if `nameserver iptochinadns` was removed, wget works fine.
wget also works fine with option `-4`.
could be a ipv6 issue as https://github.com/phinze/landrush/issues/33 stated.

maybe the same issue as
https://github.com/ioquatix/rubydns/issues/26

[2015-01-31 03:50] sdysj commented on #53
对，我也发现了，还有一个有趣的现象是在 OpenWRT 里用 resolveip 除了 google.com 能返回，其他都不能。

[2015-01-31 03:54] sdysj commented on #58
就是最新版啊，暂时发现在路由本机 ping 是可以的就是要等10秒，而用 resolveip 除了 google 其他都不能返回。

[2015-01-31 15:04] tony1016 opened #60 "在Mint 17.1上面编译无法通过怎么破"
控制台输出
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... gawk
checking whether make sets $(MAKE)... yes
checking whether make supports nested variables... yes
checking for gcc... gcc
checking whether the C compiler works... no
configure: error: in `/home/tony/下载/chi

[2015-01-31 17:57] clowwindy opened #61 "Test -m and -d in Unit Tests"

[2015-02-01 11:35] qiukun commented on #58
-> #59

[2015-02-01 11:44] clowwindy commented on #59
Though you have pasted a lot of stuff, you didn't provide any useful information related to ChinaDNS, right? I can't solve the problem unless you help me to do so.

[2015-02-01 11:45] #61 closed

[2015-02-01 11:48] scola opened #62 "fake dns ip 一直在增加"
fake dns ip 一直在增加， 导致某些ip过滤不了， 自己手动更新过那个iplist.txt， 但是增加太快。现在只能VPN 或者 ss-tunnel 解决 DNS 污染问题。刚刚尝试了最新版本 1.3.0 ，debian6.0下编译测试（长城宽带）如下：
scola@debian:~/tmp/chinadns-1.3.0$ src/chinadns -m -c chnroute.txt -p 5300 -v
ChinaDNS 1.3.0
Sun Feb  1 19:30:27 2015 request facebook.com
Sun Feb  1 19:30:27 2015 response facebook.com from 8.8.8.8:53 - 79.143.84.11, pass
Sun Feb  1 19:30:27 2015 response facebook.c

[2015-02-01 11:48] clowwindy commented on #60
Seems your compiler doesn't work at all.

[2015-02-01 11:48] #60 closed

[2015-02-01 11:54] scola commented on #62
scola@debian:~$ dig @127.0.0.1 -p 5300 facebook.com

; <<>> DiG 9.7.3 <<>> @127.0.0.1 -p 5300 facebook.com
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 19568
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 2, ADDITIONAL: 2

;; QUESTION SECTION:
;facebook.com.			IN	A

;; ANSWER SECTION:
facebook.com.		61	IN	A	79.143.84.11

;; AUTH

[2015-02-01 11:55] sdysj commented on #58
可以了，问题在于 ipv4 和 ipv6 同时存在的环境了如果 ipv6 不能连接外网的时候会出现问题，resolveip -4 强制用 ipv4 出口就行了，chinadns 本身最好也设置一个开关，不然会影响某些程序运行。

[2015-02-01 12:05] qiukun commented on #59
i don't know which info should be posted. simply tell me what should i
give. the problem itself is ChinaDNS related, I think.

Sincerely,
Kwan Chiu

On Sun, Feb 1, 2015 at 7:44 PM, clowwindy <notifications@github.com> wrote:

[2015-02-01 12:33] cokebar commented on #62
早就这样了。。 已经换了策略了 请尝试开启压缩指针

[2015-02-01 12:39] cokebar opened #63 "Problem when delay time set to zero"
国内使用ISP的DNS 国外使用自己搭建的远程非标DNS转发器
ISP的DNS不太好，一些国外域名解析失败；国外自己搭的正常
由于我这种方式没有DNS污染所以我把延迟时间设置成0了 不过此时会导致ChinaDNS将结果全部抛弃。
等待时间改成0.1后现象消失。
能否重定义一下等待时间为0时候的行为？ 既然设置为0 应该就是没有DNS污染时候才这样设置，此时不应该抛弃国外结果。或者说 定义等待时间不能为0，然后不需要等待时间的时候，去掉-y
@aa65535 能否改下你的luci-app 把等待时间也加个开关

[2015-02-01 12:56] aa65535 commented on #59
Before:
[code]

After:
[code]

[2015-02-02 00:34] scola commented on #62
@cokebar
scola@debian:~/tmp/chinadns-1.3.0$ src/chinadns -m -c chnroute.txt -p 5300 -v
-m 不就是已经开启了么

[2015-02-02 02:03] cokebar commented on #62
抱歉没看清 不过开启-m以后 就不管iplist了
再尝试访问一下 你这个结果貌似没有问题啊 你每次的结果都不一样么？
还有就是 最好还是国外DNS让VPS转发这样国外解析是就近于VPS的 否则是就近与你自己，这样可能造成VPS反而无法访问 或者访问缓慢

[2015-02-02 02:14] scola commented on #62
@cokebar
结果没有问题么, twitter的 查出的 IP 是 50.97.235.132 ? 也是twitter的 IP?
我记得正确的 都是 199.x.x.x 这样的

[2015-02-02 02:25] cokebar commented on #62
@scola 确实不对 看-v的结果 -m貌似也没起到效果啊 我这里有这么一行：Mon Feb  2 10:23:53 2015 chinadns.c:650 ns_initparse: Message too long
难道长宽有自己一套污染方案？

[2015-02-02 02:28] scola commented on #62
我是用 https://github.com/clowwindy/ChinaDNS/releases
1.3.0 测试的, 是否需要 clone 最新版测试

[2015-02-02 03:14] clowwindy commented on #62
不支持长城宽带。

[2015-02-02 03:14] #62 closed

[2015-02-02 03:22] clowwindy commented on #59
For example, your ChinaDNS configuration, ChinaDNS log, etc.

[2015-02-02 03:23] clowwindy commented on #58
什么的开关

[2015-02-02 03:24] clowwindy commented on #63
国内 DNS 会被污染，不能这样用

[2015-02-02 03:24] #63 closed

[2015-02-02 03:38] aa65535 commented on #63
去掉 -y 参数也会有默认的 0.3，另外 Luci 中留空的话是不会加这个参数的。

[2015-02-02 03:39] cokebar commented on #63
我改成0.1好了 不知道还会有这个问题 我说怎么好多人给我反应用了ss-tunnel还污染呢。。

On Mon Feb 02 2015 at 上午11:38:10 Rin Satsuki <notifications@github.com>
wrote:

[2015-02-02 14:29] tank8888jx opened #64 "可否支持一下AC68U ARM架构merlin固件的entware环境？"
可否支持一下AC68U ARM架构merlin固件的entware环境？还有shadwosocks也可否支持下？

[2015-02-02 14:37] clowwindy commented on #64
理论上支持，只是可能需要你自己编译和配置了。

[2015-02-02 14:37] #64 closed

[2015-02-03 03:28] myliyifei commented on #58
他想说强制用ipv4的开关
2015年2月2日 上午11:23于 "clowwindy" <notifications@github.com>写道：

[2015-02-03 03:28] clowwindy commented on #58
什么叫强制用 ipv4

[2015-02-03 04:19] sdysj commented on #58
又查了一下貌似这问题很普遍。

http://www.linksysinfo.org/index.php?threads/how-to-force-to-use-ipv4-instead-of-ipv6-for-certain-domains.70297/

http://askubuntu.com/questions/32298/prefer-a-ipv4-dns-lookups-before-aaaaipv6-lookups

我也不知道怎样表述清楚，相关代码我也不会看。

[2015-02-03 04:21] sdysj commented on #58
resolveip 的代码，可以参考一下

https://github.com/openwrt-mirror/openwrt/blob/master/package/network/utils/resolveip/src/resolveip.c

[2015-02-03 04:43] clowwindy commented on #58
ChinaDNS 本身没有解析 DNS，因此不知道怎么才能做到强制使用 IPv4。决定用 IPv4 还是 IPv6 的是发起 DNS 查询的程序。

本身把系统配成 IPv6 不通但又分配了 IPv6 地址和路由就是不应该的。

[2015-02-03 04:57] sdysj commented on #58
对，不过有趣的是 chinadns 如果不开压缩指针就非常正常。所以我觉的压缩指针这部分的实现有点问题。

[2015-02-03 05:00] clowwindy commented on #58
我没有你们的这种 “ipv4 和 ipv6 同时存在的环境里如果 ipv6 不能连接外网” 的网络环境，只能你们自己研究一下了。

[2015-02-03 05:04] aa65535 commented on #58
可以看 #59 我帖的日志，启用 -m 后从 8.8.8.8 返回状态的都没有 delay pass filter 之类的提示了。
看样子是在重试，间隔时间 5s
目前发现 nslookup 和 wget 解析时会有这种问题，dig 不会。

[2015-02-03 05:07] sdysj commented on #58
我想提醒下我是在 openwrt 即路由本身上操作的才有问题，你们的 openwrt 默认 lan 不是带 ipv6 的吗？

开启 -m 时：

[code]

没开启 -m 时：

[code]

[2015-02-03 05:09] clowwindy commented on #58
ping -n

[2015-02-03 05:13] sdysj commented on #58
ping -n 在开启 -m 时一样要10秒才解析出 IP。

[2015-02-03 05:22] clowwindy commented on #58
@Pentiumluyu 看起来指针压缩的兼容性还是不太好的，如果没有办法解决的话只能不再作为推荐的方法了。

[2015-02-03 05:34] sdysj commented on #58
对，其实推荐用户在自己 vps 用 dnsmasq 简单搭一个非53端口的 DNS 配合 chinadns 是一劳永逸的，chinadns 本身提供延迟方法但也别设置一个默认值，当然这是个人喜好。

[2015-02-03 05:39] #58 closed

[2015-02-03 05:43] clowwindy commented on #58
我不推荐除了 chnroutes + 本地直连、国外 DNS 走 VPN/Shadowsocks 之外的任何方法，因为这个方法用起来没有一点问题，不值得浪费时间再别的方法上。

[2015-02-03 05:56] sdysj commented on #58
知道吗现在二三线城市用任何 VPN 都不稳定，例如现在我在广州用 ShadowVPN 不过10分钟立即 UDP 端口全丢包，只剩 ICMP 给你测试欺骗你没问题。多手段是以后翻墙常态了，如果还要顾及 DNS 设置的话就有点麻烦了，想解决好 shadowsocks 的 DNS 问题还要跑一个 ss-tunnel 就显得多余了，况且在 vps 用 dnsmasq 搭的纯 dns 结果转发起得作用和 ss-tunnel 一样的，不会有 CDN 优化的问题，当然这是个人喜好。

[2015-02-03 06:23] clowwindy commented on #58
那就用 ss-tunnel 呗，装一个又不费事。

实话说我只有解决自己的问题的兴趣，帮每个地区的人解决他们的问题很无趣，建议大家多尝试，多动手，多分享自己的方法，如果会改代码就自己改代码然后发 pull request，指针压缩这个功能就是这样来的，没有更好的办法了。

[2015-02-03 08:53] msxcms commented on #58
我这里6in4的IPv6也会有这个问题，而且IPv6是可以连通的

[2015-02-03 12:30] Pentiumluyu commented on #58
应该是在处理non-existent domain出的问题，希望#66 能解决 #58 和 #59 。

[2015-02-03 12:45] tony1016 commented on #60
@clowwindy  原因查明，确实是因为没有安装build-essential，但是还是建议放到readme.md的linux编译一节，给新人以提醒，仅仅是个建议。

[2015-02-03 13:36] clowwindy commented on #60
We don't teach basic Linux in Installation Guides. [OpenVPN](https://github.com/OpenVPN/openvpn) doesn't, either. Neither does [nginx](http://nginx.org/en/docs/configure.html).

[2015-02-03 14:35] Pentiumluyu commented on #56
我觉得可以参考dnsmasq的方法
https://github.com/guns/dnsmasq/blob/nerv/src/forward.c#L335

[2015-02-03 15:03] clowwindy commented on #56
1. 如果我们要自己随机生成 id，应该随机生成，而不应该递增，主要是安全方面的原因，具体可以读一下 bind 源码里的相关注释
2. 如果要 scalable，一个方法是用 hash table，把 question section 当 key，(原 id，新 id) 作为 value，这样返回 response 的时候可以直接查出 (原 id，新 id) ，验证新 id 匹配后，把原 id 替换到 response 里，这样并发数不受 65536 限制。不过我觉得，家用路由器上还是算了吧
3. dnsmasq 的方法看起来比较挫，但是在这个场景下可以用

[2015-02-04 05:37] gmsj0001 commented on #56
1、随机还是递增在此场景下似乎影响不大，只是唯一id生成实现的方案选择，只是复杂性和性能的问题，选哪个看喜好了。递增编码简单，当前项目改动应该不超过10行，随机要跑循环或者上hash表。
2、用question当key玩大了（疑问：是否符合协议规范？），dns并发到65536估计路由器早被玩坏了。还是源ip、源端口、源id三个参数标识一个查询的唯一性比较科学。本项目定位只是dns转发而不是缓存服务器，且对外使用固定端口，也就是只要做到唯一id反向对应到客户端的三个参数就够了。

[2015-02-04 14:43] #59 closed

[2015-02-04 15:56] #56 closed

[2015-02-05 13:18] LazyZhu commented on #63
现在指针也有delay了, 得加 -y 0.1

[2015-02-05 14:19] aa65535 commented on #63
实际情况是开启压缩指针后 should_filter_query 不会返回 -1， 也就不会出现 delay 了。

[2015-02-05 14:39] LazyZhu commented on #63
@aa65535 原来如此.
chinadns 不支持TCP和缓存,  如果能在pdnsd打个patch来实现指针就就好了

[2015-02-05 17:05] clowwindy commented on #63
@LazyZhu
pdnsd 不能根据线路优化结果。

[2015-02-05 18:21] LazyZhu commented on #63
@clowwindy
pdnsd 有个par_queries参数,允许分批查询, 以前就是reject配合fakeip列表,设置国内和tunnel两个server,设置 par_queries=1,后 先查询国内域名列表,遇到fakeip丢弃,启用tunnel查询.
当然现在无效了,但可以添加的accept功能(相对与reject),只要含有chnroute的通过,否则启用tunnel,这样不会有国内CDN问题
http://members.home.nl/p.a.rombouts/pdnsd/doc.html

[2015-02-06 04:08] aa65535 commented on #63
如果随机 IP 中有 chn ip 的话，accept 功能就不能用了。

[2015-02-06 07:02] clowwindy commented on #63
@LazyZhu 也是个办法，但是因为有个先后顺序，查询国外效果和 delay 是一样的，甚至更慢一点。

[2015-02-08 19:11] LazyZhu commented on #63
Done with https://gist.github.com/LazyZhu/3f0ad3ec6bbd86748897
Add a line `accept=/path/to/chroute.list;` to the server section of pdnsd.conf.
Same to reject, accept also has `accept_policy` and `accept_recursively` options.

[2015-02-10 02:08] burndown opened #68 "chinadns don't start when openwrt init"
i use /etc/init.d/chinadns enable, but it doesn't work

[2015-02-11 12:35] scola commented on #62
经过一番测试发现我这 google dns 被劫持， 但是 opendns 正常， 所以我在代码里去掉了google dns解决了 DNS 污染问题， opendns 有点慢我也认了，结果完全正确，谢谢作者 @clowwindy 和 @cokebar 的帮助
https://github.com/scola/ChinaDNS/commit/21c4d32e53014e0bcc5f5c6bff62801ab04f0073

[2015-02-11 14:02] clowwindy commented on #62
DNS 服务器可以用 -s 参数指定。

[2015-02-11 14:11] scola commented on #62
谢谢提示，没仔细看usage, 这下更方便了

[2015-02-11 22:36] Koishi-komeiji opened #69 "Segmentation fault when loaded by OpenWRT init script."
After OpenWRT starts, There's no process of ChinaDNS. However, later it can be start manually.
I tried to redirect the error outputs to file, in which I saw it said "Segmentation Fault".
I didn't modify anything before, it's run on a totally fresh system environment. I think it may be a bug in the init script. Please inspect this.

[2015-02-12 01:50] burndown commented on #68
it is ok now

[2015-02-12 01:50] #68 closed

[2015-02-15 13:02] mclee opened #70 "ChinaDNS listens to 0.0.0.0 by default, which includes the WAN interface"
If the router has a public accessible IP, then the ChinaDNS server will be open for probing. Will you consider implementing something like "--local-service" that [dnsmasq](http://www.thekelleys.org.uk/dnsmasq/docs/dnsmasq-man.html) does?

It seems like by enabling this dnsmasq will only answer DNS queries from hosts whose address is on a local subnet.

[2015-02-16 12:13] ivyswen opened #71 "ns_initparse: Message too long"
我用chinadns做dnsmasq的上游DNS服务器，我在电脑上nslookup一个不存在的域名，后台的会有报错日志：chinadns.c:650 ns_initparse: Message too long
还有一种报错chinadns.c:577 ns_initparse: Message too long，我不确定是什么原因产生的。

[2015-02-17 00:41] Pentiumluyu commented on #71
使用DNS Pointer Mutation之后出现的，DNS返回的第一个结果可能会是这样，你可以抓包看看。（ps: 不影响使用）

[2015-02-17 00:47] Pentiumluyu commented on #70
Use option -b to specify the binding address.

[2015-02-17 17:40] mclee commented on #70
@Pentiumluyu  You probably didn't get my point. Take dnsmasq for example. It already has options like -a or -z to specify the address / interface. But by providing an option --local-service, default installs can be rest assured without knowing specifically which addresses or interface the user will be using for local queries.

Of course it's only a suggestion, but I think it's something worth ment

[2015-02-21 18:05] coasterleung opened #72 "小米路由器mini的支持如何？"
小米路由器mini的支持如何？是要自己ssh登录后编译才能使用？

[2015-02-21 21:08] myliyifei commented on #72
路由器只能交叉编译  预编译版本只能是ar系列  trunk的
2015年2月22日 上午2:05于 "coasterleung" <notifications@github.com>写道：

[2015-02-23 01:56] sadan9 opened #74 "最新的openwrt下编译似乎有问题"
git pull 更新openwrt到新版本后
make menuconfig 中Network/下没有ChinaDNS，之前是有的。

[2015-02-24 05:32] sadan9 commented on #74
新建目录，重新clone了openwrt和ChinaDNS，发现正常了，不知道是不是pull的时候出的问题……

[2015-02-24 05:48] sadan9 commented on #74
复现了= =
cd $HOME/
mkdir test_dir
cd test_dir

git clone git://git.openwrt.org/openwrt.git
cd openwrt
./scripts/feeds update -a
./scripts/feeds install -a
cd package
git clone https://github.com/clowwindy/ChinaDNS
git clone https://github.com/shadowsocks/shadowsocks-libev
cd ../
make menuconfig

这个时候Network下是没有ChinaDNS的……

[2015-02-24 05:49] sadan9 commented on #74
再测了下，似乎和shadowsocks-libev有关
cd package
rm -rf shadowsocks-libev/

之后再make menuconfig 就能选到ChinaDNS了。

[2015-02-24 13:14] #74 closed

[2015-02-24 13:16] #72 closed

[2015-02-24 13:16] #71 closed

[2015-02-25 05:42] geekpi opened #75 "missing configure file in repo"
In README.md, we should run './configure && make' to compile chinadns. But 'configure' file is missing in current repo.

[2015-02-25 05:57] XiaoxiaoPu commented on #75
[Download a release](https://github.com/clowwindy/ChinaDNS/releases). Otherwise, run `./autogen.sh` first.

[2015-02-25 12:58] geekpi commented on #75
It's OK . Please close it

[2015-02-27 14:38] #75 closed

[2015-03-11 01:16] hduffddybz opened #76 "The problem of ChinaDNS port?"
I have a lot of websites to resolve in the internal network, but I have encountered a problem, the setting of ChinaDNS listed below:
![dns](https://cloud.githubusercontent.com/assets/8110714/6588568/9803d864-c7ce-11e4-88a9-17aae08aba49.png)
The setting of DNS are listed:
![dns2](https://cloud.githubusercontent.com/assets/8110714/6588638/3899a5e2-c7cf-11e4-850e-c864de7cc469.png)

I also set "Ignore

[2015-03-11 06:15] hduffddybz commented on #76
I get more confusion about it!
OpenWrt:"/usr/bin/chinadns -s 114.114.114.114,107.*.*.*:* -p 5353 -c /etc/chinadns_chnroute.txt -l /etc/chinadns_iplist.txt -y 0.3 -v"
Win7 PC:"dig @192.168.1.1 cwc.hdu.edu.cn"
Result:
![1](https://cloud.githubusercontent.com/assets/8110714/6591344/d092f6cc-c7f8-11e4-9d04-63fed8214969.png)
![2](https://cloud.githubusercontent.com/assets/8110714/6591357/15904d88-c7f9-

[2015-03-12 00:54] Pentiumluyu commented on #76
Add private ip address to your chnroute file

[2015-03-12 01:13] hduffddybz commented on #76
@Pentiumluyu Why have to change the chnroute file? It seems that chnroute.txt file was used to distinguish the process of website resolving that whether to direct to abroad.

[2015-03-12 01:22] Pentiumluyu commented on #76
Since those private IP addresses are not in the chnroute file, they would be treated as foreign ip addresses. Therefore, when a answer contains private IP, chinadns will wait for the designated foreign DNS servers to reply.

[2015-03-12 01:26] aa65535 commented on #76
Current Version: 1.3.0

[2015-03-12 06:20] hduffddybz commented on #76
Hi!Thanks all of your patient reply! And now I change the version to 1.3.0 and seems all things get well! But I really confused is that when I do the process below:
1) opkg remove ChinaDNS
2) opkg install chinadns
and the display of chinadns is gone! I try many times of the process "opkg remove luci-app-chinadns" and "opkg install luci-app-chinadns".But it did not take effect.
and I use "ps" comma

[2015-03-12 11:57] hduffddybz commented on #76
Thanks! The problem listed above maybe the problem of caching.It is working for nearly 3 hours!

[2015-03-13 01:16] hduffddybz commented on #76
It is not stable!Sometimes it is really hard to open the internal network!

[2015-03-13 01:30] Pentiumluyu commented on #76
@hduffddybz Can you post the verbose logs after adding "192.168.0.0/16" to your chnroute file?

[2015-03-13 04:49] hduffddybz commented on #76
Hi!
-  dig @192.168.1.1 cwc.hdu.edu.cn +trace and get the output:

; <<>> DiG 9.10.1-P1 <<>> @192.168.1.1 cwc.hdu.edu.cn +trace
; (1 server found)
;; global options: +cmd
.			419121	IN	NS	i.root-servers.net.
.			419121	IN	NS	e.root-servers.net.
.			419121	IN	NS	d.root-servers.net.
.			419121	IN	NS	j.root-servers.net.
.			419121	IN	NS	h.root-servers.net.
.			419121	IN	NS	m.root-servers.net.
.			419

[2015-03-13 05:13] Pentiumluyu commented on #76
I mean logs of chinadns.

[2015-03-13 05:25] hduffddybz commented on #76
In the file /tmp/log/chinadns.err.log, it get the message:
Fri Mar 13 05:12:12 2015 chinadns.c:577 ns_initparse: Message too long
for many times.

[2015-03-13 05:31] Pentiumluyu commented on #76
That error occurs when you enable pointer compression mutation, which doesn't affect the resolving process. Run chinadns with option "-v" manually to get verbose logs.

[2015-03-13 05:34] hduffddybz commented on #76
OK!The logs list:
Fri Mar 13 05:32:45 2015 request cwc.hdu.edu.cn
Fri Mar 13 05:32:45 2015 response cwc.hdu.edu.cn from 114.114.114.114:53 - 192.168.100.6, delay
Fri Mar 13 05:32:45 2015 response cwc.hdu.edu.cn from 107.170.255.191:5050 - 192.168.100.6, delay
Fri Mar 13 05:32:48 2015 request cwc.hdu.edu.cn
Fri Mar 13 05:32:48 2015 request cwc.hdu.edu.cn
Fri Mar 13 05:32:48 2015 request cwc.hdu.edu

[2015-03-13 05:45] Pentiumluyu commented on #76
It seems adding private ip addresses doesn't work. Is the path corrected? I'll try this method tonight.

[2015-03-13 05:48] hduffddybz commented on #76
But use the command "dig @192.168.1.1 cwc.hdu.edu.cn" and the resolving of it is correct!

[2015-03-13 11:24] Pentiumluyu commented on #76
Before adding 192.168.0.0/16 to chnroute.txt.
![screen shot 2015-03-13 at 7 11 56 pm](https://cloud.githubusercontent.com/assets/4597858/6637431/46985444-c9b5-11e4-9cfd-727d1c8abc2c.png)
Chinadns treated 192.168.100.6 as a foreign ip address, it would wait for foreign dns to reply.

After adding 192.168.0.0/16 to chnroute.txt
![screen shot 2015-03-13 at 7 12 37 pm](https://cloud.githubusercontent.

[2015-03-13 11:49] hduffddybz commented on #76
You can see the output list below:
![1](https://cloud.githubusercontent.com/assets/8110714/6637821/ef1078a0-c9b9-11e4-9ec6-7eae939e13a9.png)
really strange!

[2015-03-13 12:16] Pentiumluyu commented on #76
I think that's the same problem as #56.

[2015-03-14 06:50] clowwindy commented on #70
Currently we only offer packages for OpenWRT, which has a default reject rule on its wan interface.

[2015-03-14 06:50] #70 closed

[2015-03-15 16:56] elfring opened #77 "Completion of error handling"
Would you like to add more error handling for return values from functions like the following?
- [malloc](http://pubs.opengroup.org/onlinepubs/9699919799/functions/malloc.html "Memory allocation") ⇒ [schedule_delay](https://github.com/clowwindy/ChinaDNS/blob/b33035fdc37f368877136e8e9fe9d4e4404f1156/src/chinadns.c#L815)
- [strdup](http://pubs.opengroup.org/onlinepubs/9699919799/functions/strdup "Du

[2015-03-23 11:09] hduffddybz opened #78 "Strange phenomenon about the DNS resloving"
I have running ChinaDNS for couple of months,but today I encountered a strange problem that I cannot know how to deal with it. The resolving of DNS abroad can done succeed by means of "dig at *.*.*.* -p *",but always for the ChinaDNS running on the openwrt, it can only resolve the address abroad when it restart!The log print here:
ChinaDNS 1.3.0
Mon Mar 23 10:56:20 2015 request mtalk.google.com
Mo

[2015-03-23 11:36] hduffddybz commented on #78
When using ChinaDNS 1.3.1, always encounter the same problem!

[2015-03-23 13:10] hduffddybz commented on #78
when using the command of "dig at 192.168.1.1 www.google.com.hk +trace"
it get the output:

![error](https://cloud.githubusercontent.com/assets/8110714/6780523/ffe07704-d1a0-11e4-949b-3acb40498067.png)

[2015-03-29 12:48] jchia opened #79 "Missing configure file"
The Linux installation instructions require a file 'configure' but it's not in the repo. Either it is missing from the repo or the instructions for generating it are missing.

[2015-03-29 13:03] jchia commented on #79
I think the Linux build steps are missing "autoreconf -i".

[2015-03-29 13:13] clowwindy commented on #79
- Linux / Unix

  ***Download a release.***

      ./configure && make
      src/chinadns -m -c chnroute.txt

[2015-03-29 13:13] #79 closed

[2015-04-01 06:57] cokebar commented on #78
same with you

[2015-04-02 08:21] cokebar opened #80 "DNS 查询奇怪的卡死现象（没有超时强制结束机制？）"
VPS上使用pdnsd搭建DNS转发器 非标端口
由于自身网络原因 UDP方式的DNS查询有时候貌似丢包了无法查询成功
具体现象是使用dig命令进行连续的查询，数次之中会有那么一次卡住，长时间无结果返回，然后需要Ctrl+C强制终止命令或者等待其超时 然后再次查询时候正常 也就是 即使失败 如果重试 还是会成功
不过把这个挂到ChinaDNS上游服务器上 就出问题了 数次查询之后 出现一次卡住现象
接着后面全部的国外域名查询都会卡住 （重启chinadns后会重复上述现象）
加上-v运行chinadns 自卡住那次之后 没有任何来自vps的查询的信息（不是被filter了而是根本没有） 只有国内dns的response信息
难道是之前的查询一直卡在那里等待结果 过了非常久还不结束 导致后面的查询都进不来了？
觉得可以搞一个短超时值然后加个重试的过程 重试3次依然失败就强制结束不管了 避免这

[2015-04-02 12:05] Pentiumluyu commented on #80
Your problem is the same as #78. It is caused by the queue_add function. https://github.com/clowwindy/ChinaDNS/blob/master/src/chinadns.c#L699
The queue_add function is not suitable for this kind of environment. Concurrency queries also suffer.
Modify this function yourself and create a pull request. Or just wait for the others to modify it.

[2015-04-02 12:52] clowwindy commented on #80
Not designed for this setup

[2015-04-02 12:52] #80 closed

[2015-04-05 08:38] ownhere opened #81 "能不能增加对socks/ss的支持？"
“因为有些运营商会屏蔽正确结果，所以虽然伪造包被过滤了，但是正确包永远也不会到达“
对于上述情况，能否增加一个附加查询能力支持，就是允许用户配置一个socks/ss代理（其实用到chinadns项目的用户基本都有这类代理），当某次域名查询发现被污染的时候，不需要等待正确结果，而是直接再次通过socks/ss发起另一次查询请求，这样就可以更好的兼顾各种网络情况了

[2015-04-05 14:40] clowwindy commented on #81
Please search Google or ask in the forums how to do it.

[2015-04-05 14:40] #81 closed

[2015-04-05 15:29] ownhere commented on #81
嗯，用1.3.1编译了一下貌似满足我的需求了，之前使用别人编译的1.2.x还不行。
附上我对代码中与ns_parser有关的代码的本地化处理，不需要再依赖libresolv了，动态链接版编译后大概31k大小。可以在entware,optware等uclibc版本低于0.9.33的系统上编译。

On Sun, Apr 5, 2015 at 10:40 PM, clowwindy <notifications@github.com> wrote:

[2015-04-05 18:01] heiybb commented on #78
Also the same problem.

[2015-04-05 18:20] heiybb commented on #69
Maybe something wrong with your Openwrt or router's hardware, I used to meet thr same problem but I simply  flash another openwrt image,  then it disappear.
Though I haven't redirect any error details:)

[2015-04-05 18:21] clowwindy commented on #78
You should tunnel your traffic to 8.8.8.8 through either [VPN](http://sourceforge.net/p/openwrt-dist/wiki/Plan5) or [Shadowsocks](https://sourceforge.net/p/openwrt-dist/wiki/Plan6/). Otherwise, the firewall can simply block any responses from DNS servers.

Why? Each time you restart ChinaDNS, it uses a new source port to send DNS queries. If you don't tunnel DNS queries through VPN, the queries ar

[2015-04-06 03:11] clowwindy commented on #69
Use strace to trace system calls or generate a core dump file.

[2015-04-06 03:11] #69 closed

[2015-04-06 21:17] jw47 opened #83 ""'module' object has no attribute 'is_ip'" error"
After install ChinaDNS on Mac, I got the error below:

sudo chinadns
2015-04-07 05:04:17 INFO     starting dns at 127.0.0.1:53
Traceback (most recent call last):
  File "/usr/local/bin/chinadns", line 9, in <module>
    load_entry_point('chinadns==0.2.3', 'console_scripts', 'chinadns')()
  File "/Library/Python/2.7/site-packages/chinadns/dnsrelay.py", line 404, in main
    udprelay = UDPDNSRelay(c

[2015-04-07 02:16] clowwindy commented on #83
Please use this C version.

[2015-04-07 02:16] #83 closed

[2015-04-09 12:19] liudangyi opened #84 "无法自动根据 chnroutes 选择 IP"
背景：

1. ss-tunnel -L 8.8.8.8:53 -l 1053
2. chinadns -c iplist -s 162.105.129.27,127.0.0.1:1053

然后

[code]

iplist 里有 182.254.0.0/16 这一行。

[2015-04-09 12:22] liudangyi commented on #84
另外，我如果把 `chinadns -c iplist -s 162.105.129.27,127.0.0.1:1053` 换成 `chinadns -c iplist -s 162.105.129.27,8.8.8.8` 就可以返回正确结果（182.254.98.167）。但因为校园网免费地址不包括 8.8.8.8，因此只有用 ss-tunnel 隧道

[2015-04-09 12:26] liudangyi commented on #84
另外

1. 我在 linode 上用 `host proxy.music.qq.com 8.8.8.8` 得到的结果是 103.7.31.186
2. 我在自己电脑上 `host proxy.music.qq.com 8.8.8.8` 得到的结果是 182.254.98.167
3. 如上贴所述，`chinadns -c iplist -s 162.105.129.27,8.8.8.8` + `host proxy.music.qq.com 127.0.0.1` 结果是 182.254.98.167

因此我有点迷糊了

[2015-04-09 12:56] liudangyi commented on #84
[code]

[2015-04-09 13:17] Pentiumluyu commented on #84
IPs in chnroute file would be treated as chn ip. Answers that contain chn ips, and come from chn ip would  be passed.

[2015-04-09 15:15] liudangyi commented on #84
这个是不是有问题？

[2015-04-09 15:30] Pentiumluyu commented on #84
请检查你的iplist，parse_chnroute没发现有问题

[2015-04-09 15:33] liudangyi commented on #84
[code]

这个 fiilter 不是很懂啊

[2015-04-09 16:23] Pentiumluyu commented on #84
看了一下，上面的delay是[should_filter_query]的问题，暂时可用-m或-d选项解决，是个小bug。至于下面这个问题，则是[test_ip_in_list]的问题，这个应该只有在chnroute只有两项的时候才会出现，应该不需要处理。
[should_filter_query]: https://github.com/clowwindy/ChinaDNS/blob/master/src/chinadns.c#L786
[test_ip_in_list]: https://github.com/clowwindy/ChinaDNS/blob/master/src/chinadns.c#L493

[2015-04-10 02:03] Pentiumluyu commented on #84
上面说错了，chinadns test_ip_in_list 不能test到chnroute的最后一项
解决方法可以是
* parse_chn_route的时候加上255.255.255.255/32
* 或者在chnroute file里加上255.255.255.255/32

[2015-04-10 07:14] kdrx commented on #81
能否分享下这个可以在上编译的源码？

[2015-04-11 03:57] ownhere commented on #81
@kdrx ，已经提交了pull request

[2015-04-13 06:39] clowwindy commented on #84
@Pentiumluyu
应该不是 bug，这里是为了在没有 iplist 的情况下也能过滤抢答，造成一些国内网站被误判取了国外 IP 是没有办法的。

[2015-04-13 07:09] Pentiumluyu commented on #84
@clowwindy 也就是说国内dns会抢答一个国内ip？

[2015-04-14 02:09] clowwindy commented on #84
@Pentiumluyu 国内 DNS 会缓存 fake IP，fake IP 不排除是国内地址。

[2015-04-15 01:57] hduffddybz commented on #78
So how to use it in chinadns or just use shadowsocks because I did not find the configuration about dns resolving in chinadns.

[2015-04-15 11:05] hduffddybz commented on #78
OK! Finally I get it, I transfer the abroad dns resolving to shadowsocks, maybe will not encounter this problem.

[2015-04-16 07:35] hduffddybz commented on #78
Sorry! This problem seems cannot be solved.When transfer the abroad dns resolving to shadowsocks all things done well only for serval hours and finally it cannot access it.You can see logs here:
Thu Apr 16 07:26:47 2015 request www.dropbox.com
Thu Apr 16 07:26:47 2015 request www.dropbox.com
Thu Apr 16 07:26:47 2015 response www.dropbox.com from 114.114.114.114:53 - 130.185.72.30, filter
Thu Apr 1

[2015-04-16 09:10] clowwindy commented on #78
Since I don't have the problem here, I guess you have to figure out your problem yourself with tools like ping, tcpdump, dig, etc.

[2015-04-17 09:55] xxoouu opened #88 "chinadns解析域名时dnsmasq配置的addn-hosts=/etc/blockhosts会不起作用，请修复"
chinadns解析域名时dnsmasq配置的addn-hosts=/etc/blockhosts会不起作用，请修复

[2015-04-18 00:35] #88 closed

[2015-04-25 04:08] sxp opened #89 "OpenWrt x86 版本的编译版本支持"
目前使用的 OpenWrt 是 x86 版本的，希望可以有编译好的包支持

[2015-04-25 15:33] xcjiang commented on #53
bidirectional 貌似不能开，开了出一些奇怪的问题，比如我手机上的几个腾讯手游，开了bidirectional 之后就死活连不上，关掉之后就马上正常了。

[2015-04-26 08:30] kdrx commented on #89
http://sourceforge.net/projects/openwrt-dist/files/chinadns/1.3.1-4f2692e/ChinaDNS_1.3.1-1_x86.ipk

[2015-04-26 15:05] sxp commented on #89
感谢，我试试

[2015-04-27 03:52] JoveYu opened #90 "关于超时的建议　"
chinaDNS非常实用　　但是在使用过程中　我遇到这样一个问题　　当ｖｐｎ断开的时候　　国外ｄｎｓ无法解析　　国外域名无法访问　　一直提示在解析域名　　我觉得如果添加一个国外ｄｎｓ超时时间  当过了  就返回国内dns的解析  这样会好分多

[2015-04-29 15:49] qwIvan opened #91 "能不能用include的形式来添加自定义列表？或者以chnroute.d文件夹的形式？"

[2015-05-10 13:38] AttufliX opened #92 "ssh-tunnel 转发DNS udp查询包，显示 "[udp] invalid header with addr type 32""
我用ChinaDNS做dnsmasq的上游DNS请求，国内IP通过114查询，由dnsmasq缓存，国外IP通过ssh-tunnel转发到VPS上的shadowsocks。国内地址能正确查询，国外地址不行，而且不管能不能查询，ssh-local都会报错："[udp] invalid header with addr type 32" , 所以我猜测是ChinaDNS的问题。

[2015-05-10 14:24] #92 closed

[2015-05-10 14:25] AttufliX commented on #92
是我配置ss-tunnel不当，抱歉

[2015-05-17 10:24] airystar commented on #62
长宽的8.8.8.8可能是钓鱼主机，看：
traceroute to 8.8.8.8 (8.8.8.8), 30 hops max, 60 byte packets
 1  gateway (192.168.1.1)  1.809 ms  3.605 ms  5.109 ms
 2  101.245.4.1 (101.245.4.1)  81.571 ms  81.575 ms  81.544 ms
 3  10.64.129.206 (10.64.129.206)  8.761 ms  9.344 ms  10.734 ms
 4  * * *
 5  google-public-dns-a.google.com (8.8.8.8)  9.818 ms  11.825 ms  10.924 ms
根本没有到外网。

[2015-05-17 12:38] LazyZhu commented on #84
@clowwindy 貌似早就有了国内IP,譬如:202.106.1.2, 前两天遇到了.

[2015-05-17 12:59] beterhans commented on #62
曾经的长宽用户表示 就是钓鱼

    On 5/17/15 6:24 PM, airy wrote:

      长宽的8.8.8.8可能是钓鱼主机，看：
        traceroute to 8.8.8.8 (8.8.8.8), 30 hops max, 60 byte packets
        1 gateway (192.168.1.1) 1.809 ms 3.605 ms 5.109 ms
        2 101.245.4.1 (101.245.4.1) 81.571 ms 81.575 ms 81.544 ms
        3 10.64.129.206 (10.64.129.206) 8.761 ms 9.344 ms 10.734 ms
        4 * * *
        5 google-public-dns-a.google.com

[2015-05-27 10:58] xczswt1993 opened #93 "适不适合centos上使用？"
我在vps 使用的centos,但是我使用 src/chinadns -m -c chnroute.txt 这个命令时，没反应。而且在/etc/init.d在没有chinadns这个文件？我确定没有遗漏哪一步。所以遇到了麻烦想请问一下作者！

[2015-05-31 09:04] rampageX opened #94 "一个新的域名是否被污染判定方式？"
详情见： https://github.com/XiaoxiaoPu/sans/tree/refactor

用境外 DNS 比如四个八查询受污染的域名 SOA，会返回 IP 地址，而正常的域名是返回一些 SOA 信息的：
##twitter.com##

[optware][asus:/opt/sbin]$ dig @8.8.8.8 twitter.com soa

; <<>> DiG 9.6.1-P3 <<>> @8.8.8.8 twitter.com soa
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 35961
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORI

[2015-06-02 05:31] clowwindy commented on #90
就是故意设计成宁可没有也不要污染，因为下游会缓存错误结果。

[2015-06-02 05:31] #90 closed

[2015-06-05 10:28] gaoyan1234 opened #95 "nslookup 第一遍超时"
我自定义的dns服务器114.114.114.114,114.114.115.115,127.0.0.1:5353  但是都有个问题 就是nslookup第一遍查询时都会超时 严重影响查询效率 具体为

C:\Users\Administrator>nslookup www.baidu.com
DNS request timed out.
    timeout was 2 seconds.
服务器:  UnKnown
Address:  127.0.0.1

非权威应答:
名称:    www.a.shifen.com
Addresses:  119.75.218.70
          119.75.217.109
Aliases:  www.baidu.com

[2015-06-05 13:18] #95 closed

[2015-06-05 13:27] gaoyan1234 opened #96 "当解析到国外ip的时候 速度特别慢"
2015-06-05 21:19:27 INFO     request www.softnodes.com
2015-06-05 21:19:27 INFO     response from 114.114.114.114:53 www.softnodes.com [('104.131.155.221', 1, 1)]
2015-06-05 21:19:27 INFO     request www.softnodes.com
2015-06-05 21:19:27 INFO     response from 114.114.114.114:53 www.softnodes.com:[]
2015-06-05 21:19:27 INFO     request www.softnodes.com
2015-06-05 21:19:27 INFO     response from 1

[2015-06-06 00:12] clowwindy commented on #96
这四个 request 是 ChinaDNS 收到的，不是发出的。

[2015-06-06 00:12] #96 closed

[2015-06-06 00:13] #89 closed

[2015-06-06 00:14] clowwindy commented on #84
一直都考虑了 fake IP 有国内的。

[2015-06-06 00:14] #84 closed

[2015-06-16 02:18] bigtan opened #97 "https://shadowvpn.org/debian ssl issue"
when `apt-get update` the server give such information:
`
Failed to fetch https://shadowvpn.org/debian/dists/wheezy/main/binary-amd64/Packages  gnutls_handshake() failed: A TLS fatal alert has been received.
`

[2015-06-17 07:02] leenchan opened #99 "musl libc"
OpenWrt trunk 45995 's default libc changed ( uclibc > musl libc )

Make chinadns
make: Entering directory `/home/leenchan/Desktop/openwrt'
make[1]: Entering directory `/home/leenchan/Desktop/openwrt'
make[2]: Entering directory `/home/leenchan/Desktop/openwrt'
make[2]: Leaving directory `/home/leenchan/Desktop/openwrt'
make[1]: Leaving directory `/home/leenchan/Desktop/openwrt'
make[1]: Entering

[2015-06-17 07:18] #97 closed

[2015-06-17 10:40] shangjiyu commented on #99
as the log outpu
[code]
add below code could pass build through
[code]

[2015-06-17 11:19] sadoneli opened #100 "can't filter fake ip when using 114 dns"
I compliled ChinaDNS on asus Merlin firmware using merlin toolchain,
ChinaDNS works fine but with some issue of filter fake ip
My ISP is China Mobile, and I am in Wuhan

# my chinadns command (chnroute up to date;port 1054 for dnscrypt-proxy;port 1055 for ss-tunnel requset 8.8.8.8)
chinadns -p 1053 -s 114.114.114.114,127.0.0.1:1054,127.0.0.1:1055 -m -d -c /jffs/ss/redchn/chnroute.txt

# chinadns l

[2015-06-17 11:21] sadoneli commented on #100
PS:when I using ali dns:223.5.5.5, chinadns works just fine and no fake ip get pass.

[2015-06-17 14:02] clowwindy commented on #100
Since you got multiple responses from 114, which is unexpected, I believe something is wrong. For example, your ISP may want to hijack your traffic and insert ads to your page. ShadowVPN isn't prepared for this scenario.

[2015-06-18 01:51] leenchan commented on #99
compiled by adding the code.
but it does not work.
nslookup baidu.com get "(null)"

[2015-06-18 14:05] riobard opened #101 "Move precompiled binaries off SourceForge"
SourceForge cannot be trusted any more. Ideally we should package it as part of GitHub releases.

[2015-06-19 06:39] clowwindy commented on #101
What happened to SourceForge?

[2015-06-19 06:54] tony1016 commented on #101
Google mark sourceforge as malware site

[2015-06-19 07:12] riobard commented on #101
Apparently SourceForge is running out of money and without a viable business plan to sustain itself. As a result they are replacing hosted binaries with adware versions to make money. We can no longer trust such a player.

[2015-06-19 08:13] clowwindy commented on #101
Well, we'll move to GitHub then.

[2015-06-19 23:58] cokebar commented on #78
maybe you can try to use pdnsd as a TCP DNS upstreaming sevice.
dnsmasq→ChinaDNS→pdnsd→（TCP）→DNS server abroad.
I have a similar phenomena few weeks ago. (Now it disapears) In those days TCP mode is more stable for me. UDP mode leads to strange things in ChinaDNS like you.

[2015-06-20 12:31] supertinytiger opened #102 "vpn重新连接后的异常"
用chinadns搭建dns server后，如果将此服务器连接国外的vpn断开一段时间后再将vpn恢复连接，所有对国外域名的查询都没有返回结果。从log中可以看到两个foreign dns server (google and opendns servers) 不再提供response。

环境：中国电信，raspian，dns server设置了境外ip走vpn。

以facebook查询为例，VPN正常时的log：

sudo ./chinadns -m -c chnroute.txt -s 114.114.114.11414.114.115.115,8.8.8.8,8.8.4.4,208.67.222.222:443,208.67.222.222:5353 -v

Sat Jun 20 20:22:48 2015 request 12.17.168.192.in-addr.arpa

[2015-06-21 03:37] clowwindy commented on #102
请检查你的 VPN 设置。

[2015-06-21 03:37] #102 closed

[2015-06-21 04:02] clowwindy commented on #101
Done.
https://github.com/clowwindy/ChinaDNS/releases

[2015-06-21 04:02] #101 closed

[2015-06-21 14:25] riveryan commented on #58
非常感谢,你们的对话解决了我的问题...

[2015-06-25 10:38] 4ft35t opened #103 "双向过滤 bug"
开启双向过滤，当一个查询结果既有国内 ip，又有国外 ip 时，全都被 filter 了

[code]

ChinaDNS 日志

[code]

[2015-06-26 03:01] clowwindy commented on #103
双向过滤不应该打开，它不是给普通人用的。

[2015-06-26 03:01] #103 closed

[2015-06-28 05:29] #99 closed

[2015-06-29 01:50] jzp820927 opened #105 "部分域名好像解析不出结果？"
root@ubuntu:~# netstat -ulnp|grep 53
udp        0      0 0.0.0.0:53              0.0.0.0:*                           2041/chinadns
root@ubuntu:~# dig dongtaiwang.com @127.0.0.1

; <<>> DiG 9.9.5-9-Ubuntu <<>> dongtaiwang.com @127.0.0.1
;; global options: +cmd
;; connection timed out; no servers could be reached
root@trdd-web-server:~#

不知道是不是 BUG？

[2015-07-04 05:07] Pentiumluyu opened #106 "Please Don't Compile With musl"
There is a [bug] in ns_skiprr function of musl, which make ns_initparse return -1 everytime.
[code]
If you want to compile ChinaDNS yourself, please compile with uclibc.
Otherwise, you need to create a patch and place it to toolchain/musl/patches.
The patch:
[code]
[bug]: http://git.musl-libc.org/cgit/musl/tree/src/network/ns_parse.c?id=v1.1.10#n98

[2015-07-04 05:09] Pentiumluyu commented on #106
#99 @leenchan

[2015-07-06 09:31] leenchan commented on #106
thank you~ finally know the problem.

[2015-07-07 07:50] datewu opened #107 "query[AAAA] ipv6解析，返回值的问题"
你好：
  很喜欢你开发的chinadns，不过有关ipv6地址有点不明白你的处理方式。（具体就是src/chinadns.c的低811行 return 0 的做法）  。

  直接返回 0 的话，会出现下面这个问题：
## 网络环境是：安装了chinadns和shadowsocks的openwrt下
### 案例重现

   客户反馈《懂球帝》这款app，连接翻墙路由器后出现无法加载的问题，连接普通路由器一切正常
### 解决问题

   结果反复测试，发现客户反馈连接翻墙路由器无法连接《懂球帝》的问题只在ios机型上出现，不会在Android机型上出现。

ios下的日志如下：

[code]

Android下的日志如下：

[code]

分析日志内容，提出如下的解决方案。
### 解决方案

   修改src/chinadns.c关于ipv6的返回值。
### 结果

  解决

[2015-07-07 09:21] clowwindy commented on #107
返回 0 表示不过滤这条结果，即对 IPv6 结果直接返回给 DNS 客户端。可以用 -v 打一下 chinadns 的 log。

[2015-07-09 23:44] wongsyrone commented on #106
this patch already merged: http://git.musl-libc.org/cgit/musl/commit/?id=e8cbe0bad4284906230a53af4c91ad2b9713d03b
Thank you.

[2015-07-10 15:54] rampageX opened #108 "基于新版 DD-WRT 的 musl libc 编译问题及解决"
新版的 DD-WRT 用的 musl libc，用工具链编译 chinadns 出错：

local_ns_parser.c

error: unknown type name 'u_int'

error: unknown type name 'u_char'

原因：
u_int 和 u_char 不是标准的类型

解决，替换 local_ns_parser.c 文件中所有：
u_char 为 unsigned char
u_int 为 unsigned int

[2015-07-10 15:58] clowwindy commented on #108
多谢，可以发一个 pull request

[2015-07-16 10:16] ferocknew opened #110 "more info " chinadns.c:626 sendto: No buffer space available ""
like

![image](https://cloud.githubusercontent.com/assets/2178683/8720664/b486db04-2be6-11e5-8f50-a6c3444902f0.png)

[2015-07-22 16:10] cokebar commented on #107
关闭路由器的IPv6地址获取，关闭DHCPv6 ra
目测并不是ChinaDNS的问题，部分ISP开始了IP v6的支持能够获取地址但经常实际不能访问，openwrt默认开启IP v6支持导致客户端获取IP v6地址，而正好这游戏服务器有aaaa记录，本着高版本优先选择走了IP v6导致无法连接。
至于安卓端，有些ROM把IP v6关掉了故而未受影响

[2015-07-22 16:11] cokebar commented on #107
换用普通路由正常是因为不支持IP v6

[2015-07-23 01:55] sinalpha commented on #107
@cokebar ,并不是这样的。

1. 普通路由器是支持ipv6的;
2. 刷过openwrt（14.07）的路由器，不装chinadns包的时候，和普通路由器一样也是可以正常解析访问ipv6;
3. 你好像正好说反了，根据我这边的log看，openwrt未安装chinadns时是有Active DHCPv6 Leases的，安装了chinadns包后Active DHCPv6 Leases为空

[2015-07-23 02:05] cokebar commented on #107
不管怎么引起的关IP v6肯定是对的，就目前国内IP v6的建设情况而言，IP v6可能引起各种奇葩问题。
要么采用域名黑白名单，利用China domain list和gfwlist在dnsmasq环节做个分流，国内域名不要走ChinaDNS

[2015-07-23 02:09] cokebar commented on #107
还有你应该开-v看一下chinadns的log 然后dig测试一下 看一下api.dongqiudi.com的解析结果到底如何

[2015-07-23 03:06] clowwindy commented on #107
如果楼主是把返回 0 改为返回 1 的话，起到的效果正是过滤所有的 IPv6 结果。

[2015-07-26 02:52] wongsyrone commented on #106
If you want to compile with musl-libc for OpenWrt, please update your codebase to https://github.com/openwrt-mirror/openwrt/commit/365634dd172ab093344867a4d9aee07f3770c01b

@Pentiumluyu In my opinion, it's time to close this issue.

[2015-07-26 03:06] wongsyrone commented on #30
在我看来，使用 --force-depends 不是一个好的做法，因为内核版本不匹配的话，插入模块是不能正常工作的。如果是使用官方已经release的代码分支，比如cc-rc3，编译出来的内核模块的版本是几乎固定的，除非有一些重要的backport改动会影响内核部分，稳定分支可以考虑用官方发布的SDK进行编译。iptables-mod-nat-extra是一个可选包，可以由用户自由选定，至于古老的AA分支，官方也不再进行支持了。

[2015-07-27 16:16] Pentiumluyu commented on #106
@wongsyrone Agree

[2015-07-27 16:16] #106 closed

[2015-07-28 02:41] searich opened #111 "arm架构的有没有"
linksys wrt 1900ac的没有。帮忙加入预list。

[2015-07-30 04:27] harleylg opened #112 "基于新版dd-wrt的arm架构的musl libc编译失败"
我的路由器是R6300v2，编译用的是dd-wrt的新版toolchain：http://download1.dd-wrt.com/dd-wrtv2/downloads/toolchains/toolchains.tar.xz （6月15日版本），里面一大堆toolchain实在不知道该用哪个，dd的文档实在是一坨屎，想用OpenWrt的toolchain，不过dd最近似乎都用musl libc，OpenWrt用的还是uClibc。

如果用toolchain-arm_cortex-a9_gcc-4.8-linaro_musl-1.1.5_eabi编译（这个似乎是官方使用的toolchain，论坛里面几篇帖子提及toolchain的似乎都用这个），会报以下错误：
[code]

尝试用toolchain-arm_cortex-a9+neon_gcc-4.8-linaro_musl-1.1.

[2015-07-30 04:48] clowwindy commented on #112
用 git master 版的代码编译试试。

[2015-07-30 04:59] harleylg commented on #112
master的一次通过，用的toolchain是toolchain-arm_cortex-a9_gcc-4.8-linaro_musl-1.1.5_eabi

[2015-07-30 04:59] #112 closed

[2015-08-03 09:42] qpzm1258 opened #113 "关于内网解析的问题！"
我现在使用openwrt+shadowsocks+chinadns方案，现在在内网做了个代码服务器ip是192.168.1.25，然后将其绑定到一个域名上，dig从chinadns的两个候选服务器8.8.8.8和223.5.5.5都能查询到记录192.168.1.25，但是在chinadns的解析结果却没有，请问这个问题该如何解决？

[2015-08-03 14:29] 70599 commented on #113
你能在8.8.8.8和223.5.5.5解析出192.168.1.25？
难以理解是怎么做到的。

[2015-08-04 11:48] AttufliX opened #114 "和shadowsocks的udp转发配合存在问题"
直接将DNS请求转发到ss-tunnel的5300端口，dns结果很快就会返回，但是将127.0.0.1:5300设置成chinadns的国外上游服务器的话，第一次启动chinadns，返回结果是正确的，但是之后就收不到，除非在重启chinadns，然后第一次又可以。

我观察了下服务器端的ss的log，发现dns直接转发给5300端口，服务器端很快就会出现记录，而使用chinadns，服务器要么不出现记录，要么出现：

openwrt上运行dig www.facebook.com -p 5353

结果：
; <<>> DiG 9.9.4 <<>> www.facebook.com -p 5353
;; global options: +cmd
;; connection timed out; no servers could be reached

ss-server端日志：

201

[2015-08-05 07:31] zhaozhongyao opened #115 "编译OpenWRT x86平台的时候报错undefined reference to `MAX'"
chinadns.o: In function `main':
chinadns.c:(.text.startup+0xcf0): undefined reference to `MAX'
collect2: error: ld returned 1 exit status
make[5]: *** [chinadns] Error 1
make[5]: Leaving directory `/home/build/openwrt/build_dir/target-i386_i486_musl-1.1.10/ChinaDNS-/chinadns-1.3.1/src'
make[4]: *** [all-recursive] Error 1
make[4]: Leaving directory `/home/build/openwrt/build_dir/target-i386_i486_m

[2015-08-05 10:14] clowwindy commented on #115
Please try master code.

[2015-08-05 10:25] #115 closed

[2015-08-05 19:31] ekee opened #116 "为何我这里只有youtube打不开？"
ERR_EMPTY_RESPONSE就只有youtube解析有问题，其他暂时没发现，解析出错了都。
dig www.youtube.com @127.0.0.1

; <<>> DiG 9.9.5-3ubuntu0.4-Ubuntu <<>> www.youtube.com @127.0.0.1
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 5969
;; flags: qr rd ra; QUERY: 1, ANSWER: 3, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
;www.youtube.com.		IN	A

;; ANSWER SECTION:
www.youtube.com.	775

[2015-08-06 23:58] Phishion commented on #63
我发现了一个奇怪的现象，我这边设置114.114.114.114+8.8.8.8的时候，dig淘宝网知道取用国内的地址，设置成114.114.114.114+127.0.0.1:5353（pdnsd）的时候，优先取用的是pdnsd返回的国外地址，为什么会有这样的情况？

[2015-08-07 00:02] Phishion commented on #63
不能发布消息了？

[2015-08-09 02:50] wongsyrone commented on #111
自己编译的，非release版本
https://copy.com/2kn2C3TG0nnR4rh0

[2015-08-09 14:36] Eveink opened #117 "ChinaDNS编译问题"
root@debian:~/ChinaDNS# make
make  all-recursive
make[1]: Entering directory `/root/ChinaDNS'
Making all in src
make[2]: Entering directory `/root/ChinaDNS/src'
arm-linux-musleabi-gcc -I/arm-linux-musleabi/include/ -DHAVE_CONFIG_H -I. -I..     -g -O2 -MT local_ns_parser.o -MD -MP -MF .deps/local_ns_parser.Tpo -c -o local_ns_parser.o local_ns_parser.c
local_ns_parser.c: In function 'local_ns_initpa

[2015-08-09 14:36] #117 closed

[2015-08-09 20:17] living42 opened #118 "在查询同时包含国内和国外的IP的DNS纪录时无法得到结果"
在开启双向过滤(-d)的的情况下，国内DNS的结果会过滤掉不是国内地址的的包，而国外DNS则相反。

如果我的理解没错的话，如果出现返回结果大于两个IP的，而且结果中同时包含有国内和国外的的IP时，会有下面两种结果：

+ 结果来自国内DNS，而结果中包含国外IP，被过滤
+ 结果来自国外DNS，而结果中包含国内IP，被过滤

从而导致这类查询没有返回结果。

举个例子 www.acfun.tv (203.130.60.32, 70.39.191.159)

日志如下：

    $ chinadns -d -p 5533 -c raw.txt -v
    Mon Aug 10 04:16:12 2015 request www.acfun.tv
    Mon Aug 10 04:16:12 2015 response www.acfun.tv from 223.5.5.5:53 -

[2015-08-09 23:10] kupo opened #119 "Windows版还会再更新吗？"
最新的版本是win32-0.2.1，是否还会再更新？

[2015-08-10 04:42] clowwindy commented on #119
Windows 可以直接使用 Shadowsocks，不需要 ChinaDNS。

[2015-08-10 04:42] #119 closed

[2015-08-10 04:43] clowwindy commented on #118
不要开启双向过滤，这个功能是为一个网络特殊的用户特别设计的。

[2015-08-10 04:43] #118 closed

[2015-08-12 07:20] JoveYu commented on #114
+1

[2015-08-13 19:31] #100 closed

[2015-08-14 09:19] qpzm1258 commented on #113
能！

[2015-08-14 14:49] 70599 commented on #113
能贴出来解析日志看一下吗？从没见过很好奇

[2015-08-16 00:29] mhqschen opened #120 "偶尔出现ERR_NAME_RESOLUTION_FAILED"
一般是访问国内网站的时候（任意网站，weibo，sina，yhd都出现过这样），chrome偶尔会这样报错，刷新几次到十几次后会恢复。
路由器用dnsmasq直接转发到chinadns，chinadns上游DNS一个是本地ISP的DNS，一个是shadowsocks转发到8.8.8.8:53。

[2015-08-19 08:48] lixingcong commented on #105
使用chinadns 1.3.2-21cb752， 遇到同样的问题，某些网站解析不了。
我记得以前有那些“delay time”设置为0.3ms就可以解析了。所以换回旧版本1.3.1-4f2692e

[2015-08-19 09:52] clowwindy commented on #105
我试了一下可以解析出来。可以用 -v 运行看一下 log。

[code]

[2015-08-20 03:58] qpzm1258 commented on #113
你可以dig试试code.nnhuishi.com

[2016-07-22 05:55] zw963 opened #122 "ChinaDNS worked with DNSCrypt?"
Hi, Thanks a lot this project.

Current, I install `ss-redir` with `chinadns` in my ASUS RT-AC66U.

I don't set anythings, Just chinadns listening on port 5356, ss-redir listening on port 1081,
And, iptables redirect foreign ip into 1081 port,  then set chinadns as dnsmasq upsteram.

It seem like all things work well for me, not found any dns problem for use two days.

Following is version and arg

[2016-07-22 07:26] s7lx commented on #122
@zw963
you need to set upstream server for chinadns as dnscrypt.

chinadns need more than **one** dns server as upstream server.

so you can run chinadns like this:

`chinands -l chinadns_iplist.txt -c chnroute.txt -s 114.114.114.114,<dnscrypt server ip> -p 5356`

then dnscrypt will be upstream server for chinadns

[2016-07-22 08:19] zw963 commented on #122
@s7lx , Thanks.

I understood how to do now, but, I don't know why to do this.

current, for chinadns, I am not specify any `-s` argument, so chinadns just use default value.
in this case, it value is `114.114.114.114,208.67.222.222:443,8.8.8.8`

I could access twitter, youtube, facebook now,  so I think DNS udp query
is worked with crypt enabled. ( aes-256-cfb?? redir use this protocal)

In this

[2016-07-22 08:23] zw963 commented on #122
previous, without chinadns, I could not access facebook, twitter etc ..
But can access google with ss-redir.

current with chinadns, my route worked well for a transparency proxy.

The problem is: why i need dnscrypt?
Is there exist some case I must use it?

[2016-07-22 08:49] tony1016 commented on #122
U don't need to unless u can't get real ip from chinadns

[2016-07-22 08:58] zw963 commented on #122
@tony1016

This caused by ISP ? or VPS ? or others things.

thanks

[2016-07-22 09:01] tony1016 commented on #122
eg.sometimes I can't connect to 8.8.8.8 temporarily。so it returns a pulluted ip from 114

[2016-07-22 09:07] s7lx commented on #122
@zw963 look at this article http://gfwrev.blogspot.com/2009/11/gfwdns.html

[2016-07-22 09:28] zw963 commented on #122
@tony1016 , @s7lx , thanks a lot.

I read though that article, basically understood the key idea with it.

Though, I still exist some doubt about it.

My problem is : if meet this case, with dnscrypt, could any help ?

Another problem is curreent working process, where DNS udp package to though?
It keep secret to G----F----W ? why not use chinaDNS, I could not access facebook?

ss-redir  `-c /opt/

[2016-07-22 14:21] zw963 commented on #122
Hi, I found i change chinadns to following arguments, it not worked.

-l /opt/etc/chinadns_iplist.txt -c /opt/etc/chinadns_chnroute.txt -p 5356 -s 114.114.114.114,8.8.8.8

In fact, `-s 114.114.114.114,208.67.222.222:443` not work well for me too.

But default value  `114.114.114.114,208.67.222.222:443,8.8.8.8` is worked as expect.

I think maybe I need start up a dnscrypt server in my VPS, to remo

[2016-07-22 14:27] zw963 commented on #122
Could anyone explain about What the `208.67.222.222:443` is? thanks.

Is this is a public dnscrypt dns server?  I don't install dnscrypt package in my route ...

[2016-07-25 14:57] zw963 commented on #122
Thanks, As @s7lx 's reply, I settings dnscrypt as chinadns upstream, it worked well for me.

Though,  It not significantly performance improved compare with OpenDNS 208.67.222.222:443 ...
Even more badly ... I don't know why ...

Anyway, Thanks all.

[2016-07-25 14:57] #122 closed, assigned to nobody

[2016-08-25 01:42] cocoot opened #123 "1.3.2bug"
我这运行时间久了,就不解析了,进程还在,有时候2天,有时候3天.只有关了重新再开,才会再解析,用的chinadns-1.3.2.tar.gz编译的.机器 debian7 3.2.0-4-amd64

[2016-09-05 13:34] starofrainnight commented on #123
Me too ! On raspberry pi.

[2016-10-21 12:46] crazyacking opened #125 "关于中文文档"
你好，这个项目有中文文档吗？相关的介绍也行。

[2016-12-08 07:58] wang20150419 opened #126 "非常奇怪的bug"
如果使用chinadns，会导致局域网内的 udp访问出现异常。
启动了chinadns，不加入dnsmasq (不使用)，不会异常，一
启用就会异常。

[2016-12-19 13:27] hynnet opened #127 "并发不行啊..."
400多个用户就导致ChinaDNS经常出现请求超时了。
难道ChinaDNS只能支持OpenWRT上个人使用？

[2016-12-21 11:11] annbigbig opened #128 "[help ]build process failed 請幫我看一下"
我都照作了
可是出現了錯誤訊息
沒辦法產生ipk的套件
可以指點我一下嗎？

i have followed the instructions and try to build ChinaDNS ipk package for my Openwrt router,
but failed, could you kindly give me some suggestions? thank you

[code]

[2016-12-26 03:39] sifksky commented on #113
我今天重新搭建了chinadns，也是同样的问题。直接 dig  my.test.org @8.8.8.8   可以解析出内网地址。但是直接 dig  my.test.org 就无法解析。说明是chinadns 过滤了内网ip。但是还没找到原因

[2016-12-29 02:38] s7lx commented on #126
这听起来怎么像是你的dnsmasq配置出错了

[2016-12-29 02:39] s7lx commented on #127
所以要有个前端dns cache server顶着，而且最好能调TTL

[2017-01-21 06:15] warking opened #129 "-s 114.114.114.114,127.0.0.1:5353 指定的upstream dns server智能区分国内外问题"
chinadns 对于-s 后面的dns server会判断国内外地址。那么对于127.0.0.1 是否当成国内地址？
其实这里我期望的是用127.0.0.1:5353 来拿国外IP地址解析结果的。
所以-s 后面的国内国外是否分开两个参数更加明显指定？

[2017-01-22 17:00] yv-code commented on #129
记得是不属于 china_router 文件中的网段都被标记为国外，所以 127 也被视为国外地址

[2017-01-23 01:41] warking commented on #129
OK，明白了，多谢指教
我翻看了代码， static int test_ip_in_list(struct in_addr ip, const net_list_t *netlist);
所以这里算是有个implicit的指定国内外的办法

[2017-01-23 01:41] #129 closed, assigned to nobody

[2017-01-25 12:47] KireinaHoro commented on #33
Hmm.. How's this progressing?

[2017-02-04 03:47] 1a57danc3 opened #130 "dns error"
➜  chinadns-1.3.2 nslookup google.com 202.45.84.58
Server:		202.45.84.58
Address:	202.45.84.58#53

Non-authoritative answer:
Name:	google.com
Address: 216.58.203.14

----------------------
src/chinadns -m -c chnroute.txt -b 192.168.4.170 -p 53 -v -s 223.5.5.5,119.29.29.29,202.45.84.58

➜  shadowsocks git:(master) ✗ nslookup google.com 192.168.4.170
Server:		192.168.4.170
Address:	192.168.4.170#53

[2017-02-08 10:09] nickolasclarke commented on #33
@KireinaHoro due to political reasons, this project has essentially been abandoned by its original author, and no one has picked it up as far as I am aware.

[2017-02-08 10:18] KireinaHoro commented on #33
‎That's a pity. 
‎

[2017-03-16 02:56] jaoyina opened #131 "问下这个c:554 bind消息是什么意思"
按照步骤，先下载在
./configure && make
src/chinadns -m -c chnroute.txt

然后就出现这个消息，不过那个txt倒是出来了，有影响吗？

Thu Mar 16 10:51:39 2017 chinadns.c:554 bind: Address already in use
Thu Mar 16 10:51:39 2017 Can't bind address 0.0.0.0:53

[2017-05-19 02:47] bash99 commented on #93
可以用，没反应就是正确的反应。

此时直接 dig @127.0.0.1 www.youtube.com 查询即可
如果要开给其它机器查询，那么要加  -b 0.0.0.0 执行

[2017-05-22 05:16] j4Uq commented on #128
Please re-run make with -j1 V=s to see what's going on

[2017-06-23 00:56] actg opened #133 "chinadns 在openwrt上不能开机自动启动"
原因是安装以后，并没有把/etc/init.d/chinadns链接到/etc/rc.d目录下，所以不能启动

[2017-06-23 01:01] actg commented on #125
opkg install chinadns**.ipk

[2017-07-14 02:50] sanjusss commented on #131
我这里是ubuntu自带dnsmasq服务，占用了53端口，禁了就好。
你可以查找占用53端口的服务，关了它。

[2017-09-10 05:23] zw963 opened #134 "Use dnscrypt tcp-mode as chinadns upstream is not support?"
I create my own dnscrypt-wrapper server in my vps, it worked.

but seem like UDP is not indeal, so I use tcp-mode only.

in this case, as ChinaDNS upstream, chinadns refuse to work.

[code]

[2017-09-11 17:15] AxIauk commented on #133
我也碰上过无法启动情况，后来发现是53和5353 端口被别的程序占用监听。改了监听端口我的就起来了。

[2017-10-17 04:33] halfu commented on #126
dnsmasq配置里面的端口需要用#，例如127.0.0.1#5300

[2017-10-22 08:45] moralrebuild opened #135 "ChinaDNS会不会泄露访问的敏感域名给大陆第三方DNS服务器"
一直不了解ChinaDNS对很多敏感域名网址的查询是不是和普通海外网站一样同时发送给大陆的域名服务器，比如ISP或者114.114.114.114，如果这样的话，网警岂不是轻而易举就截获你的访问意图。这个安全漏洞在VPN领域叫做 dns leak. 请教了解代码的朋友给予解释。谢谢

[2017-10-22 10:15] aa65535 commented on #135
会

[2017-10-25 08:01] moralrebuild commented on #135
谢谢，希望有能力的朋友进行改进。在没有修复这个漏洞之前不会推荐他人使用ChinaDNS

[2017-10-27 08:44] muromirikka commented on #133
@AxIauk 能不能请详细说明下是怎么改的监听端口，是改chinadns的监听端口还是解除这些端口的占用？
我的lede上的chinadns无法运行，而且严重影响了dns的工作。虽然电脑连接wifi可以上网，但手机端无法获取dns，只能通过输入ip浏览网站。（卸载chinadns后一切正常）
手动启动也是无效
![2](https://user-images.githubusercontent.com/30953202/32095005-35bdcf3c-bb34-11e7-9ad1-4e8b1f8cb249.JPG)
配置
![3](https://user-images.githubusercontent.com/30953202/32095056-6385b916-bb34-11e7-9f13-859f83aacf5b.JPG)

刚刚尝试了把占用53端口的dnsmasq换了个端口

[2017-10-29 12:35] AxIauk commented on #133
发送自 Windows 10 版邮件应用

发件人: muromirikka
发送时间: 2017年10月27日 16:44
收件人: shadowsocks/ChinaDNS
抄送: AxIauk; Mention
主题: Re: [shadowsocks/ChinaDNS] chinadns 在openwrt上不能开机自动启动 (#133)

@AxIauk 能不能请详细说明下是怎么改的监听端口，是改chinadns的监听端口还是解除这些端口的占用？
我的lede上的chinadns无法运行，而且严重影响了dns的工作。虽然电脑连接wifi可以上网，但手机端无法获取dns，只能通过输入ip浏览网站。（卸载chinadns后一切正常）
手动启动也是无效

配置

刚刚尝试了把占用53端口的dnsmasq换了个端口，再试图手动启动chinadns，结果后两行提示消失了，变成

但是进程就卡

[2018-01-03 07:08] sanjusss opened #137 "直接编译master分支代码的方法"
大佬们都知道的。不过像我这种菜鸟还是有必要记录下的。
先安装autoconf、 automake，再执行autoreconf --install，就得到configure文件了。
具体在centos上就是：
进入源码目录，
[code]

[2018-01-04 08:14] pexcn commented on #137
没必要记录在这里

[2018-01-25 05:30] matrikslee commented on #114
我在树莓派（armv7h架构的archarm系统）上编译的chinadns也有这个问题，在Arch X86_64的系统上似乎就没这个问题。

[2018-01-31 13:06] JunShine opened #138 "这个项目现在还可以用吗？有没有更好的推荐一下？"
看到最近更新居然是三年前的，感觉有些不安心啊。有没有类似的更好用的项目推荐下？

[2018-03-07 14:51] s7lx commented on #134
`netstat -anp|grep chinadns`

understand ?
`chinadns`  just  listen on UDP port only

[2018-03-07 14:56] s7lx commented on #135
直接用 dnsmasq 通过指定白名单的方式查询敏感网址，就满足你的需求了。祝你白名单维护的开心

[2018-03-09 14:01] #134 closed, assigned to nobody

[2018-03-15 09:02] Erich-Chen commented on #138
能用。
追新的话可以看看 [overture](https://github.com/shawn1m/overture)
https://github.com/shawn1m/overture

[2018-03-17 02:53] JunShine commented on #138
谢一个哈

[2018-03-17 02:53] #138 closed, assigned to nobody

[2018-03-17 12:00] xtronaltic opened #140 "Nice Work"
Nice Work

[2018-03-17 12:00] #140 closed, assigned to nobody

[2018-03-18 04:38] wow-meow-ai commented on #131
check port 53
[code]
which shows this port is occupied by `dnsmasq` service. So we disable it:
[code]

[2018-04-15 00:31] xianshanlai opened #141 "请问网件的3700v4应该装哪个版本啊？试了ar71xx和ramips_24kec都不行"
路由已经装了openwrt的lede-17.01.4-ar71xx-nand-wndr3700v4-ubi-factory.img，装ChinaDNS时试了上面两个版本都提示：
Unknown package 'ChinaDNS'.
Collected errors:
 * pkg_hash_fetch_best_installation_candidate: Packages for ChinaDNS found, but incompatible with the architectures configured
 * opkg_install_cmd: Cannot install package ChinaDNS.
下面命令返回：
opkg print-architecture
arch all 1
arch noarch 1
arch mips_24kc 10
菜鸟一个，在折腾o

[2018-04-16 07:41] xianshanlai opened #142 "请问下自己编译时报下面的错是什么原因啊"
WARNING: Makefile 'package/linux/Makefile' has a dependency on 'r8169-firmware', which does not exist
WARNING: Makefile 'package/linux/Makefile' has a dependency on 'e100-firmware', which does not exist
WARNING: Makefile 'package/linux/Makefile' has a dependency on 'bnx2-firmware', which does not exist
WARNING: Makefile 'package/linux/Makefile' has a dependency on 'ar3k-firmware', which does not e

[2018-04-16 07:41] #141 closed, assigned to nobody

[2018-04-16 07:42] xianshanlai commented on #141
应该用mips_24kc版本 ，貌似得自己编译_

[2018-05-15 14:54] plutoid opened #143 "[solved]出不来dig查询结果"
hi,

## 环境:

### 服务端:
CentOS release 6.9  - 4.16.5-1.el6.elrepo.i686
Shadowsocks 2.8.2
### 客户端:
环境树莓派做透明网关
debian9 Linux raspberrypi 4.9.59+ #1047 Sun Oct 29 11:47:10 GMT 2017 armv6l GNU/Linux
ChinaDNS 1.3.2
shadowsocks-libev 2.6.3 with mbed TLS 2.4.2

### ss服务端除了用户密码之类,我是这么跑的:
[code]

### 跑tunnel,
[code]
log上看是有做查询:
[code]

### 运行chinadns,运行时看上去是正常的, 国内查询用了阿里的dns 223.5.5.5:
[code]
查询延迟后没结果:
[code

[2018-05-29 01:46] #143 closed, assigned to nobody

[2018-06-16 14:50] ai2online opened #144 "大内网，通往外网的53端口被封，只能使用所给的dns"
学校的大局域网，通往外网的53端口被封，只能使用学校服务器的dns
郁闷啊。
查询nslookup www.baidu.com
别说114.114.114.114
就连阿里的223.5.5.5都查不了，
不知道怎么解决

[2018-06-17 04:28] pexcn commented on #144
端口转发？

[2018-06-18 01:14] libook opened #145 "chinadns.c:554 bind: No such file or directory"
Hi,

Is there any solution? Or need more information?

ChinaDNS 1.3.2
from opkg

Processor	: ARMv7 Processor rev 0 (v7l)
ASUS RT-AC66U B1 Router

Linux RT-AC66U_B1-A340 2.6.36.4brcmarm #1 SMP PREEMPT Sat May 12 22:03:28 EDT 2018 armv7l ASUSWRT-Merlin

Thanks.

[2018-06-18 08:30] MickeMannen opened #146 "How to build for Freebsd?"
Hi!

I have a VMware installation of freebsd 11 and i am trying to build chinadns for my opnsense router.
When i run the command shown on the main page: ./configure.ac && make src/chinadns -m -c chnroute.txt
i get a syntax error message: ./configure.ac: 4: Syntax error: word unexpected (expecting ")")

Anyone that knows what is wrong or where i can download a bin for freebsd/opnsense of chinadns?

[2018-06-30 01:51] 8884361 commented on #144
防火墙过滤啊，正常。用端口转发或者干脆跑非53的TCP

[2018-08-28 15:37] shmily103 opened #147 "不支持最新版的18.06.1版本，请问是否能更新支持？（该项目已经长时间没有维护）"
不支持最新版的18.06.1版本，请问是否能更新支持？

[2018-08-28 16:09] shmily103 commented on #147
panzy@panzy-T420:~/openwrt$ make v=99
time: target/linux/prereq#0.39#0.03#0.41
 make[1] world
 make[2] target/compile
 make[3] -C target/linux compile
 make[2] diffconfig
 make[2] package/cleanup
 make[2] package/compile
 make[3] -C package/libs/libubox host-compile
 make[3] -C package/system/opkg host-compile
 make[3] -C package/libs/toolchain compile
 make[3] -C package/ChinaDNS/openwrt compile

[2018-08-30 07:15] shmily103 commented on #147
make[3]: Entering directory '/home/panzy/openwrt/package/ChinaDNS/openwrt'
mkdir -p /home/panzy/openwrt/dl
SHELL= flock /home/panzy/openwrt/tmp/.chinadns-1.3.2.tar.gz.flock -c '  	/home/panzy/openwrt/scripts/download.pl "/home/panzy/openwrt/dl" "chinadns-1.3.2.tar.gz" "x" "" "https://github.com/clowwindy/ChinaDNS/releases/download/1.3.2"    '
Cannot find appropriate hash command, ensure the provid

[2018-08-30 15:44] shmily103 commented on #142
@xianshanlai
请查看我的解决方案
https://github.com/shadowsocks/ChinaDNS/issues/147

[2018-08-31 06:01] shmily103 commented on #142
@xianshanlai
使用另一个移植项目，这个项目没更新好久了。
https://github.com/aa65535/openwrt-chinadns

[2018-09-21 08:36] guoxu0514 opened #148 "解析cn域名有bug，导致解析到污染的IP地址"
貌似cn结尾的域名会直接返回国内dns解析的地址。

比如services.googleapis.cn 这个域名被国内dns污染了，我用酸酸乳使用chinadns不管怎么设置解析到的都是污染ip。。

[2019-02-24 10:45] #108 closed

[2019-03-27 06:33] qhdityq commented on #147
可以手动更新文件：
package/ChinaDNS/openwrt/Makefile
添加PKG_HASH:=f3ece30f2a453d25cc22ef6e1ef579b0
这个是md5码，你需要自己手动下载release包后使用md5sum计算出

[2019-03-27 08:19] pexcn commented on #147
现在最好使用：
https://github.com/aa65535/openwrt-chinadns
https://github.com/aa65535/openwrt-dist-luci

[2019-04-06 16:54] le011 commented on #148
我也遇到相同的问题了，，
![image](https://user-images.githubusercontent.com/23378591/55672614-969f2f00-58cf-11e9-97bf-e73792f312d3.png)
解析google.com 返回的两个地址却是facebook的

[2019-05-07 05:38] williamxxy commented on #128
你的SDK不完整无法编译，建议更新系统到最新版本

[2019-05-07 12:25] pexcn commented on #128
https://github.com/aa65535/openwrt-chinadns

[2019-07-08 08:53] zhanhb commented on #148
[code]

[2019-08-09 04:46] adam1943 opened #152 "请问各位大佬chinadns的单节点负载能力如何"
请问各位大佬chinadns的单节点负载能力如何，是否适用于2000以上的企业局域网（在服务器性能满足的前提下）。

[2019-08-12 10:44] import-yuefeng commented on #147
我正搞一个DNS
基于 overture 在做开发，欢迎尝试。[smartDNS](https://github.com/import-yuefeng/smartDNS)

[2019-11-15 00:42] #137 closed, assigned to nobody

[2020-01-03 04:52] s7lx opened #153 "有个神奇的域名无法被ChinaDNS解析"
www.hkexpress.com

这个域名无法被ChinaDNS解析

[2020-03-18 01:28] #130 closed, assigned to nobody

[2020-04-29 06:44] ykzj opened #154 "google cloud storage无法被解析"
域名为： storage.googleapis.com

[2020-09-13 15:14] xspeed1989 opened #156 "关于chinadns一些特性的请求"
大佬看看这个人的讨论
[记录一下 ChinaDNS 的工作原理](https://gist.github.com/pexcn/5af609563758a94fa1e603c117671efc)

先额外准备好以下两个列表：chinalist.txt 中国域名列表、gfwlist.txt 黑名单域名列表。
当接收到请求的时候，先去匹配请求的域名是否在 chinalist 列表里。如果存在，则直接使用 国内 DNS 解析；如果不存在，则去匹配 gfwlist 列表。如果在 gfwlist 里，则直接使用 可信 DNS 解析；如果不存在，则继续当前版本的 ChinaDNS 的解析流程。
添加一个选项以支持 EDNS, 可以分别设置 EDNS 的 subnet 的 IP.
支持缓存查询结果和修改 TTL.
为了防止 UDP 丢包，在请求 DNS 的时候，连续(或者并发？)发送若干次(可自定义，默认

[2020-09-14 14:30] pexcn commented on #156
你可能需要这个：https://github.com/zfl9/chinadns-ng

[2020-09-15 09:29] xspeed1989 commented on #156
@pexcn 可能需要自己编译openwrt版本 还有修改wrt版本的那个配置页面
感觉有点陌生

[2020-09-15 09:34] pexcn commented on #156
https://github.com/pexcn/openwrt-chinadns-ng

[2020-09-15 09:35] xspeed1989 commented on #156
@pexcn 大佬谢谢，有web配置UI吗

[2020-09-15 10:04] xspeed1989 commented on #156
@pexcn 感谢大佬，已经编译好了 回家再试试

[2020-09-15 11:29] pexcn commented on #156
看看 luci 分支，不确定能不能用

[2020-09-15 12:06] xspeed1989 commented on #156
@pexcn
![image](https://user-images.githubusercontent.com/5162926/93208255-e3f32180-f78e-11ea-96a4-0f98825384ae.png)

大佬可用

[2020-11-19 14:36] hizukiayaka commented on #107
I configure 223.5.5.5(alidns) and 8.8.8.8 as the upstream servers and I would get the same result in China.
I checked the log, it is the alidns reply such answers for AAAA reocrds of www.google.com
I highly recommend to filter out such invalid answer, which server would answer ::1(localhost) for a domain query ?

[2021-01-28 17:55] jchia opened #157 "pointer compression mutation getting outwitted these days"
This is how I have been running chinadns for a few years:
`chinadns -p 5353 -s 223.5.5.5,1.2.4.8,127.0.0.1:5300 -c /etc/chinadns_chnroute.txt -d -m`

It used to be reasonably effective. Lately, I noticed that I often get poisoned DNS query results typical 404'ed things like google.com and reddit.com.

Maybe the GFW has become smarter against `-m`. Has anyone noticed this problem, too?

I have a fe

[2021-01-28 18:00] #157 closed, assigned to nobody

[2021-09-13 07:37] #107 closed